<div class="field__wrap">
    <label for="field_{{name}}" class="field__label">
        <span class="field__title">{{title}}</span>
        <select id="field_{{name}}" name="{{name}}" value="{{value}}">
            <option selected disabled>{{placeholder}}</option>
            <option value="">Вариант 1</option>
            <option value="">Вариант 2</option>
            <option value="">Вариант 3</option>
            <option value="">Вариант 4</option>
            <option value="">Вариант 5</option>
            <option value="">Вариант 6</option>
        </select>
    </label>
    <span class="field__description">{{description}}</span>
</div>