.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: var(--color-light-gray);
  width: 100%;
  max-width: 1110px;
  max-height: 100vh;
  height: auto;
  z-index: 200;
  transition: all 0.3s ease-out;
  transform: translateX(-50%) translateY(calc(-50% + 150px));
  opacity: 0;
  visibility: hidden;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  overflow: auto;

  // Animate
  &.is-active {
    visibility: visible;
    opacity: 1;
    transform: translateX(-50%) translateY(-50%);
  }

  &__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 150;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease-out;
    backdrop-filter: blur(6px);
    &.is-active {
      visibility: visible;
      opacity: 1;
    }
  }

  &__close {
    width: 14px;
    height: 14px;
    display: block;
    background: url('../img/icons/ic_modal_close.svg') no-repeat center;
    position: absolute;
    top: 47px;
    right: 32px;
    cursor: pointer;
    background-size: contain;
    &:hover {
      opacity: .8;
    }
  }

  &__wrapper {
    padding: 35px 140px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
  }

  &__header {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__tabs {
    &_nav {
      display: flex;
      flex-wrap: nowrap;
      width: 100%;
      gap: 15px;
      justify-content: space-between;
      counter-set: tab_count;
      padding-bottom: 30px;
      &_item {
        font-size: 18px;
        color: #A9A9A9;
        position: relative;
        padding-left: 38px;
        counter-increment: tab_count;
        cursor: pointer;
        &.disabled {
          cursor: default;
          pointer-events: none;
          opacity: .45;
        }
        &:before {
          position: absolute;
          content: counter(tab_count);
          background-color: #999999;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 31px;
          height: 31px;
          border-radius: 30px;
          border: 3px transparent solid;
          font-weight: 500;
          font-family: var(--font-headers);
          color: white;
          line-height: 1;
          left: 0;
          top: 0;
          transform: translateY(-5px);
        }
        &-filled {
          color: var(--color-main-blue);
          // font-weight: 500;
          &::before {
            background-color: var(--color-main-blue);
          }
        }
        &.is-active {
          color: var(--color-main-blue);
          &::before {
            background-color: var(--color-main-blue);
            border: 3px solid #9FD7DC;
          }
        }
      }
    }

    &_item {
      display: none;
      flex-direction: column;
      gap: 15px;
      &.is-active {
        display: flex;
      }
    }
  }

  &__participant {
    display: flex;
    flex-direction: column;
    gap: 15px;
    &_title {
      color: var(--color-main-blue);
      margin: 10px 0;
      font-weight: 500;
      font-size: 20px;
    }
  }

  &__radio {
    &_wrapper {
      display: flex;
      flex-wrap: nowrap;
      gap: 15px;
      justify-content: space-between;
      background-color: rgba(169,169,169,0.2);
      border-radius: 10px;
      align-items: center;
      padding: 15px 20px;
      &_title {
        font-size: 18px;
        color: var(--color-main-blue);
        font-weight: 500;
        line-height: 1;
      }
    }
  }

  &__checkbox {
    &_wrapper {
      display: flex;
      flex-direction: column;
      gap: 25px;
      margin-bottom: 25px;
    }
  }

  &__book {
    min-height: 600px;
  }

  &__content {
    font-size: 18px;
    p {
      margin-bottom: 10px;
    }
  }

  &__success {
    max-width: 720px;
  }

  @include tablet {
    &__wrapper {
      padding: 35px 5vw;
    }

    &__tabs {
      &_nav {
        gap: 10px;
        padding-bottom: 20px;
        &_item {
          font-size: 14px;
          padding-left: 32px;
          &:before {
            width: 27px;
            height: 27px;
          }
        }
      }
    }

    &__radio {
      &_wrapper {
        &_title {
          font-size: 16px;
        }
      }
    }
  }

  @include mobile {
    &__close {
      top: 24px;
      right: 24px;
    }

    &__tabs {
      &_nav {
        padding-top: 30px;
        &_item {
          font-size: 12px;
          padding-left: 0;
          text-align: center;
          &:before {
            left: 50%;
            top: 0;
            transform: translate(-50%, -110%);
          }
        }
      }
    }

    &__radio {
      &_wrapper {
        padding: 10px;
        flex-wrap: wrap;
        gap: 10px;
        align-items: flex-start;
        &_title {
          font-size: 13px;
          flex: 0 0 100%;
        }
        .field__wrap {
          flex: 0 0 calc(33% - 10px);
          width: calc(33% - 10px);
          max-width: calc(33% - 10px);
          padding-top: 24px;
        }
      }
    }

    &__content {
      font-size: 13px;
      p {
        margin-bottom: 5px;
      }
    }
  }
}