@mixin bg-cover {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

@mixin bg-contain {
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
