.assist {
  // position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0;
  background-color: $whiteBlue;
  border: 1px solid $darkBlue;
  transform: translateY(1rem);
  margin-bottom: 2rem;

  &_block {
    &_title {
    }
  }
  &_container {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 1rem 4rem;
  }
  &_size {
    &_el {
      padding: 0.2rem;
      background: unset;
      &-100 {
      }
      &-125 {
      }
      &-150 {
      }
    }
  }
  &_color {
    &-achromatic {
    }
    &-invert {
      background-color: black;
      color: white;
    }
    &-chromatic {
      color: blue;
      background-color: $whiteBlue;
    }
  }
  &_interval {
    &-normal {
    }
    &-medium {
      letter-spacing: 1px;
    }
    &-big {
      letter-spacing: 2px;
    }
  }
}

body.img-off {
  img {
    display: none;
  }
}

body.achromatic {
  .header,
  main,
  .footer,
  .modal {
    filter: grayscale(1);
  }

  * {
    opacity: 1 !important;

    &.global_backdrop {
      display: none;
    }
  }
}
body.invert {
  .header,
  main,
  .footer,
  .modal {
    filter: grayscale(1);
  }

  *:not(ymaps):not(.filials_map_place):not(.assist_size_el) {
    opacity: 1 !important;
    color: $white;
    background-color: $darkBlack;

    &.global_backdrop {
      display: none;
    }
  }
  .assist_size_el {
    color: $white;
  }
  .assist_color-chromatic {
    color: $darkBlack;
  }
}
body.chromatic {
  background-color: #bce4fd;
  img,
  #map {
    filter: sepia(100%) hue-rotate(170deg) saturate(150%);
  }

  *:not(ymaps) {
    opacity: 1 !important;
    background-color: #bce4fd;
    color: #14305e !important;
    border-color: #14305e !important;

    &.global_backdrop {
      display: none;
    }
  }
}
