.direct_card {
    &_places {
        padding-top: 90px;
        padding-bottom: 90px;
        h2, .h2 {
            margin: 0 auto 64px auto;
            text-align: center;
        }
        &__container {
            img {
                width: 100%;
            }
        }
    }

    @include tablet {
        &_places {
            padding-top: 50px;
            padding-bottom: 50px;
            &__container {
                overflow-x: scroll;
                padding-top: 10px;
                padding-bottom: 10px;
                img {
                    object-fit: cover;
                    width: 1200px;
                    max-width: 1200px;
                }
            }
        }
    }

    @include mobile {
        &_places {
            padding-top: 30px;
            padding-bottom: 30px;
            h2, .h2 {
                margin-bottom: 30px;
            }
            &__container {
                img {
                    object-fit: contain;
                    width: 170%;
                    max-width: none;
                }
            }
        }
    }

    @media (max-width: 480px) {
        &_places {
            &__container {
                img {
                    object-fit: contain;
                    width: 250%;
                    max-width: none;
                }
            }
        }
    }
}