@import "../../../node_modules/normalize.css/normalize";

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 10px;
  font-weight: 300;
  overflow-x: hidden;
  max-width: 100vw;
  font-family: var(--font-main);
}

body {
  margin: 0;
  overflow-x: hidden;
  font-size: 1.6rem;

  * {
    line-height: 120%;
  }

  button {
    -webkit-appearance: none;
    appearance: none;
  }
}

img {
  max-width: 100%;
}

input {
  border-radius: 0;
  color: inherit;

  &[type="number"] {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      /* display: none; <- Crashes Chrome on hover */
      -webkit-appearance: none;
      margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }
  }

  &[type="date"] {
    &::-webkit-date-and-time-value {
      text-align: left;
      color: inherit;
    }
  }
}

a {
  text-decoration: none;
  color: currentColor;
}

ul,
ol,
p {
  padding: 0;
  margin: 0;
}

button {
  padding: 0;
  border: none;
  background: none;
  color: inherit;
}

.content-wrapper {
  max-width: var(--max-width);
  margin: 0 auto;
  width: 100%;
}

.mg-top-1 {
  margin-top: 1rem;
}

.mg-top-2 {
  margin-top: 2rem;
}

.mg-top-3 {
  margin-top: 3rem;
}

.mg-top-4 {
  margin-top: 4rem;
}

.section-margin {
  margin-top: var(--section-margin);
}

.section-padding {
  padding-top: var(--section-margin);
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.no-margin {
  margin: unset;
}

.width-100 {
  width: 100%;
}

@include notebook {
  .content-wrapper {
    max-width: var(--max-width);
  }
}

@include tablet {
  .content-wrapper {
    max-width: var(--max-width);
  }
}

@include mobile {
  .content-wrapper {
    max-width: var(--max-width);
  }
}

// Headers
h1, .h1 {
  font-family: var(--font-headers);
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  line-height: 1.3;
}

h2, .h2 {
  font-family: var(--font-headers);
  font-weight: 300;
  text-transform: uppercase;
  font-size: 40px;
  margin: 0;
  padding: 0;
  line-height: 1.3;
  letter-spacing: 1px;

  @include mobile {
    font-size: 30px;
  }

  @media (max-width: 414px) {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0px;
  }
}

// Breadcrumbs
.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  grid-gap: 1rem;
  padding-top: 2rem;
  margin-bottom: 1.6rem;
  font-size: 1.4rem;
  &-el {
    opacity: 0.6;
    display: flex;
    align-items: center;

    @supports not (grid-gap: 1rem) {
      margin-right: 1rem;
      margin-bottom: 0.5;
    }

    &:after {
      content: "";
      display: block;
      margin-left: 1rem;
      width: 1.6rem;
      height: 1.6rem;
      background-image: url(../img/icons/arrow-down-black.svg);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      transform: rotateZ(-90deg);
    }

    &:last-of-type {
      opacity: 1;
      color: pink;
      &:after {
        display: none;
      }
    }
  }

  @include smallDesktop {
    font-size: 1.2rem;
  }
}

// Socials 
.socials {
  &__list {
    display: flex;
    list-style: none;
    margin: 0;
    flex-wrap: nowrap;
    padding: 0;
    align-items: center;
    gap: 14px;
    li {
      width: 24px;
      height: 24px;
      display: block;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      a {
        display: table;
        width: 100%;
        height: 100%;
      }
      &:hover {
        opacity: .85;
      }
    }
    &-vk {background-image: url('../img/icons/ic_vk.svg');}
    &-tg {background-image: url('../img/icons/ic_tg.svg');}
    &-inst {background-image: url('../img/icons/ic_inst.svg');}
  }

  @include mobile {
    &__list {
      gap: 5px;
      li {
        width: 16px;
        height: 16px;
      }
    }
  }
}

// Buttons {
.btn {
  display: flex;
  white-space: nowrap;
  font-family: var(--font-headers);
  padding: 7px 25px 4px 25px;
  border: 2px transparent solid;
  transition: .2s;
  align-items: center;
  line-height: 1;
  width: fit-content;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 29px;
  &__framed {
    font-weight: 400;
    border-color: var(--color-main-blue);
    &:hover {
      background-color: var(--color-main-blue);
      color: var(--color-main-black);
    }
  }
  &__filled {
    border-color: var(--color-main-blue);
    background-color: var(--color-main-blue);
    color: white;
    &:hover {
      filter: brightness(0.9);
    }
  }
  &__burger {
    display: flex;
    width: 30px;
    height: 27px;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 0;
    >div {
      height: 2px;
      border-radius: 2px;
      background-color: var(--color-main-blue);
      display: table;
      &:nth-of-type(1) {width: 60%;}
      &:nth-of-type(2) {width: 100%;}
      &:nth-of-type(3) {width: 40%;}
    }
  }

  @include mobile {
    font-size: 18px;
    &__burger {
      width: 23px;
      height: 24px;
    }
  }

  @media (max-width: 414px) {
    font-size: 14px;
  }
}