/* Изображения lightbox */

.lb-cancel {
  background: url(../img/lightbox/close.png) no-repeat;
}

.lb-nav a.lb-prev {
  background: url(../img/lightbox/prev.png) left 48% no-repeat;
}

.lb-nav a.lb-next {
  background: url(../img/lightbox/next.png) right 48% no-repeat;
}

.lb-data .lb-close {
  background: url(../img/lightbox/close.png) top right no-repeat;
}

/* /Изображения lightbox */