.mainscreen {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - var(--header-height));
    max-height: 1012px;
    position: relative;
    >.content-wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        padding-top: 70px;
        padding-bottom: 45px;
        align-items: center;
        position: relative;
        z-index: 20;
    }
    &_text {
        color: white;
        h1, .h1 {
            text-align: center;
            margin: 0 auto 13px auto;
            font-size: 72px;
            line-height: 1;
            letter-spacing: 1.5px;
        }
    }
    &_description {
        font-size: 25px;
        text-transform: uppercase;
        font-family: var(--font-headers);
        text-align: center;
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        p {
            margin: 0 auto;
            letter-spacing: 0.5px;
            line-height: 1;
        }
    }
    &_buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 27px;
        justify-content: center;
    }
    &_toggler {
        height: 50px;
        width: 100%;
        display: block;
    }
    &:after {
        position: absolute;
        content: '';
        width: 100%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 40%;
        display: block;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75) 10%, rgba(0, 0, 0, 0) 100%);
        z-index: 10;
    }

    @include tablet {
        &_text {
            h1, .h1 {
                font-size: 56px;
            }
        }
        &_description {
            font-size: 20px;
        }
    }

    @include mobile {
        max-height: 600px;
        &_text {
            h1, .h1 {
                font-size: 42px;
                margin-bottom: 20px;
            }
        }
        &_description {
            font-size: 18px;
            p {
                line-height: 1.1;
                margin-bottom: 5px;
            }
        }
    }

    @media (max-width: 414px) {
        max-height: 505px;
        >.content-wrapper {
            padding-top: 53px;
        }
        &_text {
            h1, .h1 {
                font-size: 24px;
                letter-spacing: 0.5px;
                margin-bottom: 4px;
            }
        }
        &_description {
            font-size: 12px;
        }
    }
}

.bullets {
    padding-top: 92px;
    padding-bottom: 100px;
    h2, .h2 {
        text-align: center;
        display: table;
        margin: 0 auto 81px auto;
    }
    &_textblock {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 60px;
        align-items: flex-start;
        width: 100%;
        margin-bottom: 93px;
    }
    &_text {
        flex: 0 0 35%;
        position: relative;
        padding-left: 50px;
        font-size: 18px;
        &_caption {
            font-family: var(--font-headers);
            font-size: 30px;
            text-transform: uppercase;
            font-weight: 300;
            letter-spacing: 0.6px;
            margin-bottom: 7px;
        }
        &_icon {
            width: 32px;
            height: 32px;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
    &_list {
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        max-width: 1396px;
        margin: 0 auto;
        gap: 50px;
        justify-content: space-between;
        align-items: flex-start;
    }
    &_item {
        border-left: 4px solid var(--color-main-blue);
        padding-left: 40px;
        &_caption {
            font-size: 72px;
            font-family: var(--font-headers);
            line-height: 1;
            white-space: nowrap;
        }
        &_text {
            font-size: 18px;
            line-height: 1;
        }
        &:nth-child(1) {order: 1;}
        &:nth-child(2) {order: 2;}
        &:nth-child(3) {order: 3;}
        &:nth-child(4) {order: 4;}
    }

    @include smallDesktop {
        padding-top: 75px;
        padding-bottom: 75px;
        h2, .h2 {
            margin-bottom: 50px;
        }
        &_text {
            flex: 0 0 45%;
            font-size: 16px;
            &_caption {
                font-size: 26px;
            }
        }
        &_item {
            padding-left: 25px;
            &_caption {
                font-size: 60px;
            }
            &_text {
                font-size: 16px;
            }
        }
    }

    @include tablet {
        &_textblock {
            flex-wrap: wrap;
            gap: 30px;
        }
        &_text {
            flex: 0 0 100%;
        }
        &_list {
            flex-wrap: wrap;
            gap: 30px;
        }
        &_item {
            flex: 0 0 calc(50% - 30px);
            &:nth-child(2) {
                order: 3;
            }
            &:nth-child(3) {
                order: 2;
            }
        }
    }

    @include mobile {
        padding-top: 50px;
        padding-bottom: 50px;
        h2, .h2 {
            margin-bottom: 35px;
        }
        &_textblock {
            margin-bottom: 50px;
        }
        &_text {
            font-size: 14px;
            padding-left: 40px;
            &_caption {
                font-size: 20px;
            }
            &_icon {
                width: 26px;
                height: 26px;
            }
        }
        &_item {
            &_caption {
                font-size: 46px;
            }
            &_text {
                font-size: 14px;
            }
        }
    }

    @media (max-width: 414px) {
        padding-top: 30px;
        padding-bottom: 40px;
        h2, .h2 {
            margin-bottom: 25px;
        }
        &_textblock {
            margin-bottom: 35px;
        }
        &_text {
            font-size: 10px;
            padding-left: 25px;
            &_icon {
                width: 16px;
                height: 16px;
            }
            &_caption {
                font-size: 14px;
                margin-bottom: 4px;
            }
        }
        &_list {
            gap: 20px;
        }
        &_item {
            flex: 0 0 calc(50% - 20px);
            padding-left: 15px;
            border-width: 3px;
            &_caption {
                font-size: 36px;
            }
            &_text {
                font-size: 10px;
            }
        }
    }
}

.directs {
    padding-top: 107px;
    padding-bottom: 102px;
    background-color: var(--color-light-gray);
    >.content-wrapper {
        display: flex;
        flex-wrap: nowrap;
        gap: 66px;
        max-width: calc(100vw - 2 * 14.05vw);
    }
    h2, .h2 {
        line-height: 1;
    }
    &_left {
        flex: 0 0 calc(30% - 25px);
        max-width: 360px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 34px;
    }
    &_right {
        flex: 0 0 100%;
        max-width: 1300px;
    }
    &_togglers {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 10px;
    }
    &_toggle {
        color: var(--color-main-blue);
        font-size: 18px;
        font-weight: 300;
        position: relative;
        padding-left: 26px;
        display: block;
        cursor: pointer;
        &:before {
            position: absolute;
            content: '';
            width: 18px;
            height: 18px;
            display: block;
            background: url('../img/icons/ic_location.svg') no-repeat center;
            background-size: contain;
            left: 0;
            top: 0;
            filter: grayscale(1) brightness(1.5);
        }
        &.is-active {
            font-weight: 500;
            &:before {
                filter: none;
            }
        }
    }
    &_text {
        font-size: 18px;
        flex: 100%;
    }
    &_carousel {
        display: none;
        &.is-active {
            display: block;
        }
        .swiper {
            padding-bottom: 80px;
            &-scrollbar {
                position: relative;
                left: 0;
                bottom: -80px;
                &-drag {
                    background: var(--color-main-blue);
                    border-radius: 0;
                }
            }
        }
    }
    &_slide {
        a {
            height: 468px;
            width: 100%;
            max-width: 334px;
            overflow: hidden;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            display: flex;
            align-items: flex-end;
            position: relative;
            p {
                font-family: var(--font-headers);
                font-size: 30px;
                color: white;
                text-align: center;
                margin: 0 auto;
                text-transform: uppercase;
                padding: 20px 30px;
                width: 100%;
                position: relative;
                z-index: 10;
            }
            &:after {
                position: absolute;
                content: '';
                left: 0;
                right: 0;
                bottom: 0;
                height: 160px;
                background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
                display: block;
            }
        }
    }

    @include notebook {
        >.content-wrapper {
            max-width: var(--max-width);
        }
    }

    @include smallDesktop {
        >.content-wrapper {
            flex-wrap: wrap;
        }
        &_left {
            flex: 0 0 100%;
            max-width: none;
        }
        &_right {
            flex: 0 0 100%;
            max-width: 120vw;
        }
    }

    @media (max-width: 414px) {
        padding-top: 28px;
        padding-bottom: 32px;
        >.content-wrapper {
            gap: 30px;
        }
        h2, .h2 {
            width: 80%;
        }
        &_left {
            gap: 12px;
        }
        &_right {
            max-width: 116vw;
        }
        &_togglers {
            gap: 5px;
        }
        &_toggle {
            font-size: 9px;
            padding-left: 13px;
            &:before {
                width: 12px;
                height: 12px;
            }
        }
        &_text {
            font-size: 9px;
        }
        &_slide {
            a {
                width: 138px;
                height: 189px;
                p {
                    padding: 12px 15px;
                    font-size: 14px;
                }
            }
        }
        &_carousel {
            .swiper {
                padding-bottom: 20px;
                &-scrollbar {
                    bottom: -20px;
                    height: 2px;
                }
            }
        }
    }

}