<div class="buses__item swiper-slide">
    <div class="buses__item_content">
        <p class="buses__item_name">Туристический автобус <br>Atlant Sollers 2023 г.в.</p>
        <p class="buses__item_subtitle">15 пассажирских мест</p>
        <div class="buses__item_tabs" data-tab-container>
            <div>
                <div class="buses__item_tabs_title is-active" data-tab-target="bus_01_01">Стоимость аренды</div>
                <div class="buses__item_tabs_title" data-tab-target="bus_01_02">Комфорт салона</div>
                <div class="buses__item_tabs_title" data-tab-target="bus_01_03">Багажный отсек</div>
            </div>
            <div>
                <div class="buses__item_tabs_content is-active" similar-height="bus_01" data-tab-content="" id="bus_01_01">
                    <p><b>Город:</b> 1 час — от 2000 рублей (минимальное время <br>заказа — 3 часа + 1 час отдаленные районы и ночное время)</p>
                    <p><b>Межгород:</b> 1 км — 45 рублей (простой: 1 сутки — 5000 рублей)</p>
                </div>
                <div class="buses__item_tabs_content" similar-height="bus_01" data-tab-content="" id="bus_01_02">
                    <p>Комфортные раздвижные пассажирские сидения туристического класса. Все пассажирские сидения оснащены 2-точечными ремнями безопасности. Система климат-контроля с функциями кондиционирования и отопления салона.</p>
                </div>
                <div class="buses__item_tabs_content" similar-height="bus_01" data-tab-content="" id="bus_01_03">
                    <p>Багажное отделение объемом небольшое. Расположено в задней части автобуса. На дальние расстояния предоставляем прицеп для перевозки багажа.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="buses__item_gallery">
        <div class="swiper">
            <div class="swiper-wrapper">
                <a href="/assets/img/bus.jpg" class="swiper-slide" data-fancybox="bus_01">
                    <img src="/assets/img/bus.jpg" alt="Туристический автобус Atlant Sollers 2023 г.в.">
                </a>
                <a href="/assets/img/bus.jpg" class="swiper-slide" data-fancybox="bus_01">
                    <img src="/assets/img/bus.jpg" alt="Туристический автобус Atlant Sollers 2023 г.в.">
                </a>
                <a href="/assets/img/bus.jpg" class="swiper-slide" data-fancybox="bus_01">
                    <img src="/assets/img/bus.jpg" alt="Туристический автобус Atlant Sollers 2023 г.в.">
                </a>
                <a href="/assets/img/bus.jpg" class="swiper-slide" data-fancybox="bus_01">
                    <img src="/assets/img/bus.jpg" alt="Туристический автобус Atlant Sollers 2023 г.в.">
                </a>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</div>