<footer class="footer">
    <div class="content-wrapper">
        <div class="footer_logo">
            <a href="#">
                <img src="/assets/img/logo.svg" alt="Турбас">
            </a>
            <a href="#">Мы в реестре туроператоров - РТО 025883</a>
        </div>
        <div class="footer_navigation">
            <div class="footer_navigation_column">
                <p class="footer_navigation_title">Навигация</p>
                <ul class="footer_navigation_links">
                    <li><a href="#">Все направления</a></li>
                    <li><a href="#">Индивидуальные туры</a></li>
                    <li><a href="#">О компании</a></li>
                    <li><a href="#">Отзывы</a></li>
                    <li><a href="#">Способы оплаты</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
            </div>
            <div class="footer_navigation_column">
                <p class="footer_navigation_title">Информация</p>
                <ul class="footer_navigation_links">
                    <li><a href="#">Реквизиты</a></li>
                    <li><a href="#">Страхование</a></li>
                    <li><a href="#">Условия бронирования</a></li>
                    <li><a href="#">Договор оферта</a></li>
                    <li><a href="#">Политика конфиденциальности</a></li>
                </ul>
            </div>
            <div class="footer_navigation_column">
                <p class="footer_navigation_title">Контакты</p>
                <div class="footer_navigation_contacts">
                    <a href="tel:">+7 (950) 973 - 54 - 91</a>
                    <p>г. Красноярск, ул. Кирова, д.2 (цокольный этаж)</p>
                    <p>пн-пт 11.00 - 20.00<br>сб-вс 11.00 - 18.00</p>
                </div>
            </div>
            <div class="footer_navigation_column hide-for-tablet">
                <div class="footer_navigation_contacts">
                    <div class="footer_socials">
                        <ul class="footer_socials_list">
                            <li class="footer_socials_item footer_socials_item-inst"><a href="#" target="_blank" title="Instagrm"></a></li>
                            <li class="footer_socials_item footer_socials_item-tg"><a href="#" target="_blank" title="Telegram"></a></li>
                            <li class="footer_socials_item footer_socials_item-vk"><a href="#" target="_blank" title="ВКонтакте"></a></li>
                            <li class="footer_socials_item footer_socials_item-wa"><a href="#" target="_blank" title="WhatsApp"></a></li>
                        </ul>
                    </div>
                    <div class="btn btn__framed">Забронировать тур</div>
                </div>
            </div>
        </div>
        <div class="footer_callback show-for-tablet">
            <div class="btn btn__framed">Забронировать тур</div>
        </div>
    </div>
    <div class="content-wrapper show-for-tablet">
        <div class="footer_socials">
            <ul class="footer_socials_list">
                <li class="footer_socials_item footer_socials_item-inst"><a href="#" target="_blank" title="Instagrm"></a></li>
                <li class="footer_socials_item footer_socials_item-tg"><a href="#" target="_blank" title="Telegram"></a></li>
                <li class="footer_socials_item footer_socials_item-vk"><a href="#" target="_blank" title="ВКонтакте"></a></li>
                <li class="footer_socials_item footer_socials_item-wa"><a href="#" target="_blank" title="WhatsApp"></a></li>
            </ul>
        </div>
    </div>
</footer>