<header class="header">
    <div class="content-wrapper">
        <div class="header__socials">
            <ul class="socials__list">
                <li class="socials__list-vk"><a href="#" target="_blank" title="ВКонтакте"></a></li>
                <li class="socials__list-tg"><a href="#" target="_blank" title="Telegram"></a></li>
                <li class="socials__list-inst"><a href="#" target="_blank" title="Instagram"></a></li>
            </ul>
        </div>
        <div class="header__menu">
            <nav class="header__menu-list">
                <ul>
                    <li><a href="#">Индивидуальные туры</a></li>
                    <li><a href="#">Все направления</a></li>
                    <li><a href="about.html">О компании</a></li>
                </ul>
            </nav>
            <div class="header__logo">
                <a href="index.html">
                    <img src="assets/img/logo.svg" alt="Турбас">
                </a>
            </div>
            <nav class="header__menu-list">
                <ul>
                    <li><a href="#">Отзывы</a></li>
                    <li><a href="info.html">Информация</a></li>
                    <li><a href="#">Дополнительные услуги</a></li>
                </ul>
            </nav>
        </div>
        <div class="header__phone">
            <a class="btn btn__framed" href="tel:89509735491">+7 (950) 973 - 54 - 91</a>
        </div>
        <div class="header__burger">
            <div class="btn btn__burger" data-show_backdrop data-open="modalMenu">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
</header>