<div class="swiper-slide hotels_block__item">
    <div class="hotels_block__item_left">
        <div class="hotels_block__item_header">
            <p class="hotels_block__item_name">«Империя туризма» и «Тюрк»</p>
        </div>
        <div class="hotels_block__item_text">
            <p>Наш тур пройдёт на двух базах отдыха:Первые два дня мы проведем на базе отдыха «Империи туризма»</p>
            <p>Вторые два дня проведем на базе отдыха «Тюрк»Заключительный день заселяемся на базе отдыха «Империи туризма»</p>
        </div>
        <div class="hotels_block__item_buttons">
            <a href="#" class="btn btn__framed">Посмотреть номера</a>
        </div>
    </div>
    <div class="hotels_block__item_right">
        <div class="hotels_block__item_image">
            <img src="/assets/img/hotel_01.jpg" alt="«Империя туризма» и «Тюрк»">
        </div>
    </div>
</div>