<div class="swiper-slide hotels_block__item">
    <div class="hotels_block__item_left">
        <div class="hotels_block__item_header">
            <p class="hotels_block__item_name">{{name}}</p>
        </div>
        <div class="hotels_block__item_text">
            {{{description}}}
        </div>
        <div class="hotels_block__item_buttons">
            <div class="btn btn__framed" data-open="modalHotel" data-show_backdrop>Посмотреть номера</div>
        </div>
    </div>
    <div class="hotels_block__item_right">
        <div class="hotels_block__item_image">
            <img src="{{image}}" alt="{{name}}">
        </div>
    </div>
</div>