<div class="nexttours_item">
    <div class="nexttours_item_wrap" similar-height="nexttours">
        <div class="nexttours_item_image" style="background-image: url('assets/img/nexttour_preview_2.jpg');">
            <div class="nexttours_item_dates">8.02 - 10.02</div>
        </div>
        <div class="nexttours_item_content">
            <p class="nexttours_item_name">Архыз, Домбай, Эльбрус</p>
            <p class="nexttours_item_price">12.000 руб</p>
            <p class="nexttours_item_description">Выходной тур 3 дня катки с питанием и проживанием</p>
            <!-- <p class="nexttours_item_places">3 места</p> -->
        </div>
        <a href="#" class="nexttours_item_button">Подробнее</a>
    </div>
</div>