<div class="swiper-slide reviews_item">
    <div class="reviews_item_left">
        <div class="reviews_item_header">
            <p class="reviews_item_name">Екатерина Гладкова</p>
            <div class="reviews_item_rating">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <div class="reviews_item_text">
            <p>ТурБас только с вами и больше ни с кем! Самые добрые позитивные веселые ребята! Настюшка просто. Гид от бога, профи! Отдельное, спасибо, Леночке Котовой фотограф супер!!! Были в марте в Шерегеше )</p>
        </div>
        <div class="reviews_item_buttons">
            <a href="#" class="btn btn__framed">Читать больше</a>
        </div>
    </div>
    <div class="reviews_item_right">
        <div class="reviews_item_image">
            <img src="/assets/img/review_01.jpg" alt="Екатерина Гладкова">
        </div>
    </div>
</div>