<div class="schedule__item">
    <div class="schedule__item_wrap" similar-height="schedule">
        <div class="schedule__item_image" style="background-image: url('assets/img/nexttour_preview_2.jpg');">
            <div class="schedule__item_dates">8.02 - 10.02</div>
        </div>
        <div class="schedule__item_content">
            <p class="schedule__item_name">Архыз, Домбай, Эльбрус</p>
            <p class="schedule__item_price">12.000 руб</p>
            <p class="schedule__item_description">Выходной тур 3 дня катки с питанием и проживанием</p>
            <!-- <p class="schedule_item_places">3 места</p> -->
        </div>
        <a href="#" class="schedule__item_button">Подробнее</a>
    </div>
</div>