<div class="swiper-slide values_item">
    <div class="values_item_photo">
        <img src="/assets/img/values_item.jpg" alt="Надежные и безопасные туры">
    </div>
    <div class="values_item_text">
        <p class="values_item_title">Надежные и безопасные туры</p>
        <div class="values_item_description">
            <p>TURBUS  - это аккредитованный туроператор внутреннего туризма. <br>10 лет работы на рынке позволили нам наработать опыт, благодаря которому можно быть уверенным в качестве отдыха с нами</p>
        </div>
    </div>
</div>