<section class="direct_about">
    <div class="content-wrapper">
        <div class="direct_about__text">
            <h2>Мы - команда энтузиастов</h2>
            <div class="direct_about__description">
                <p>Мы – команда мечтателей, обожающих свою работу, природу, живое человеческое общение и экстремальные виды спорта. Мы стараемся идти в ногу со временем, постоянно придумывая новые лайфхаки, чтобы сделать путешествия  круче, ярче, интереснее и комфортнее.</p>
                <p>Эти особенности мы интегрировали в свою философию путешествий: </p>
            </div>
            <div class="direct_about__bullets">
                <div class="direct_about__bullets_item">
                    <div class="direct_about__bullets_icon" style="background-image: url('/assets/img/icons/ic_direct_bullet_01.svg')"></div>
                    <p class="direct_about__bullets_text">Продумываем наши авторские туры так, чтобы не требовалась специальная физическая подготовка</p>
                </div>
                <div class="direct_about__bullets_item">
                    <div class="direct_about__bullets_icon" style="background-image: url('/assets/img/icons/ic_direct_bullet_02.svg')"></div>
                    <p class="direct_about__bullets_text">Разрабатываем легкие маршруты, без сложных подъемов, разнообразие направлений туров</p>
                </div>
                <div class="direct_about__bullets_item">
                    <div class="direct_about__bullets_icon" style="background-image: url('/assets/img/icons/ic_direct_bullet_03.svg')"></div>
                    <p class="direct_about__bullets_text">Поддерживаем атмосферу, чтобы все участники становились друзьями и единомышленниками</p>
                </div>
            </div>
        </div>
        <div class="direct_about__images">
            <div class="direct_about__images_item">
                <img src="/assets/img/about_intro_01.jpg" alt="Горный Алтай">
            </div>
            <div class="direct_about__images_item">
                <img src="/assets/img/about_intro_02.jpg" alt="Горный Алтай">
            </div>
            <div class="direct_about__images_item">
                <img src="/assets/img/about_intro_03.jpg" alt="Горный Алтай">
            </div>
            <div class="direct_about__images_item">
                <img src="/assets/img/about_intro_04.jpg" alt="Горный Алтай">
            </div>
        </div>
    </div>
</section>