<section class="bullets">
    <div class="content-wrapper">
        <p class="h2">Делаем активный туризм доступным</p>
        <div class="bullets_textblock">
            <div class="bullets_text">
                <div class="bullets_text_icon" style="background-image: url('/assets/img/icons/ic_bullets_sheild.svg')"></div>
                <div class="bullets_text_caption">Аккредитованный туроператор</div>
                <p>Мы — аккредитованный туроператор внутреннего туризма, благодаря нашему опыту можно быть уверенным в качестве отдыха с нами.</p>
            </div>
            <div class="bullets_text">
                <div class="bullets_text_icon" style="background-image: url('/assets/img/icons/ic_bullets_location.svg')"></div>
                <div class="bullets_text_caption">Все заботы берем на себя</div>
                <p>Мы продумываем все организационные моменты за вас, подбираем тур и программу, помогаем с поиском и покупкой билетов, рассказываем что, где и как.</p>
            </div>
        </div>
        <div class="bullets_list">
            <div class="bullets_item">
                <div class="bullets_item_caption">500+</div>
                <div class="bullets_item_text">туров мы уже <br>организовали</div>
            </div>
            <div class="bullets_item">
                <div class="bullets_item_caption">10 000+</div>
                <div class="bullets_item_text">человек съездили в туры <br>и стали участниками клуба</div>
            </div>
            <div class="bullets_item">
                <div class="bullets_item_caption">>10</div>
                <div class="bullets_item_text">более 10 лет <br>на рынке</div>
            </div>
            <div class="bullets_item">
                <div class="bullets_item_caption">100%</div>
                <div class="bullets_item_text">перезагрузка <br>после поездки</div>
            </div>
        </div>
    </div>
</section>