<section class="buses">
    <div class="content-wrapper">
        <h2>Туристические автобусы</h2>
        <div class="buses__subtitle">
            <p>Организуем поездки в Красноярске корпоративным и частным клиентам, <br>агентствам делового туризма, отелям и гостиницам без посредников</p>
        </div>
        <div class="buses__carousel">
            <div class="swiper">
                <div class="swiper-wrapper">
                    {{> buses_carousel_item}}
                    {{> buses_carousel_item}}
                    {{> buses_carousel_item}}
                </div>
                <div class="buses__carousel_navigation_wrapper">
                    <div class="buses__carousel_navigation">
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>