<section class="contacts">
    <div class="content-wrapper">
        <div class="contacts_item">
            <p class="contacts_item_title">Звоните</p>
            <div class="contacts_item_values" similar-height="contacts_values">
                <a href="tel:">+7 (950) 973 - 54 - 91</a>
            </div>
        </div>
        <div class="contacts_item">
            <p class="contacts_item_title">Пишите</p>
            <div class="contacts_item_values" similar-height="contacts_values">
                <a href="mailto:turbarg@mail.ru">turbarg@mail.ru</a>
            </div>
        </div>
        <div class="contacts_item">
            <p class="contacts_item_title">Наш адрес</p>
            <div class="contacts_item_values" similar-height="contacts_values">
                <p>г. Красноярск, ул. Кирова, д. 2 <br>(цокольный этаж)</p>
            </div>
        </div>
        <div class="contacts_item">
            <p class="contacts_item_title">Наш график работы</p>
            <div class="contacts_item_values" similar-height="contacts_values">
                <p><span>ПН - ПТ</span><span>11.00 -  20.00</span></p>
                <p><span>CБ-ВС</span><span>11.00 - 18.00</span></p>
            </div>
        </div>
    </div>
</section>