<section class="directs">
    <div class="content-wrapper">
        <div class="directs_left">
            <h2 class="h2">Направления на Алтай</h2>
            <div class="directs_text">
                <p>Сегодня мы предлагаем вам три основных программы по Горному Алтаю, различающихся длительностью и степенью насыщенности: «Знакомство с Алтаем», «Кругосветка» и «Золотое кольцо».</p>
                <p>Экскурсионный тур стартует в Красноярске, если вы из других регионов — свяжитесь с нашими менеджерами и они расскажут, как вы можете присоединиться к нам.</p>
            </div>
            <div class="btn btn__filled">Связаться с нами</div>
        </div>
        <div class="directs_right">
            <div class="directs_carousel directs_carousel js-directs_inner_carousel is-active">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        {{#each directions}}
                            {{#compareValues season '==' 'winter' '&&' where_from '==' 'Из Красноярска'}}
                                {{> directs_carousel_inner_item}}
                            {{/compareValues }}
                        {{/each}}
                    </div>
                    <div class="swiper-scrollbar"></div>
                </div>
            </div>
        </div>
    </div>
</section>