<section class="direct_about">
    <div class="content-wrapper">
        <div class="direct_about__text">
            <h2>Что для вас «горный Алтай»?</h2>
            <div class="direct_about__description">
                <p>Живописные перевалы, озера, белоснежные вершины, красивейшие пейзажи. Все то, что хочется впитать взглядом, ощутить кожей, прочувствовать сердцем.</p>
                <p>Но в то же время включается рационализм: такие расстояния, такие высоты…Как их преодолеть? И думается, что не спортсмену это не под силу!</p>
                <p>Мы решили, что наши туры на Алтай будем разрабатывать таким образом, чтобы они подходили всем туристам:</p>
            </div>
            <div class="direct_about__bullets">
                <div class="direct_about__bullets_item">
                    <div class="direct_about__bullets_icon" style="background-image: url('/assets/img/icons/ic_direct_bullet_01.svg')"></div>
                    <p class="direct_about__bullets_text">Вам не нужна специальная <br>физическая подготовка</p>
                </div>
                <div class="direct_about__bullets_item">
                    <div class="direct_about__bullets_icon" style="background-image: url('/assets/img/icons/ic_direct_bullet_02.svg')"></div>
                    <p class="direct_about__bullets_text">Легкие маршруты, без <br>выматывающих подъемов</p>
                </div>
                <div class="direct_about__bullets_item">
                    <div class="direct_about__bullets_icon" style="background-image: url('/assets/img/icons/ic_direct_bullet_03.svg')"></div>
                    <p class="direct_about__bullets_text">Смотреть Алтай — легко <br>и под силу каждому</p>
                </div>
            </div>
        </div>
        <div class="direct_about__images">
            <div class="direct_about__images_item">
                <img src="/assets/img/direct_about_01.jpg" alt="Горный Алтай">
            </div>
            <div class="direct_about__images_item">
                <img src="/assets/img/direct_about_02.jpg" alt="Горный Алтай">
            </div>
            <div class="direct_about__images_item">
                <img src="/assets/img/direct_about_03.jpg" alt="Горный Алтай">
            </div>
            <div class="direct_about__images_item">
                <img src="/assets/img/direct_about_04.jpg" alt="Горный Алтай">
            </div>
        </div>
    </div>
</section>