<section class="directs" data-tab-container>
    <div class="content-wrapper">
        <div class="directs_left">
            <h2 class="h2">Направления наших путешествий</h2>
            <div class="directs_togglers">
                <div class="directs_toggle is-active" data-tab-target="directs_tab_1">Из Красноярска</div>
                <div class="directs_toggle" data-tab-target="directs_tab_2">Из других регионов</div>
            </div>
            <div class="directs_text">
                <p>Мы официально аккредитованный туроператор с более чем 10-летним опытом работы и знаем все
                    о красивейших уголках нашей страны. Мы официально аккредитованный туроператор
                    с более чем 10-летним опытом работы и знаем все о красивейших уголках нашей страны.</p>
            </div>
            <div class="btn btn__filled">Посмотреть все</div>
        </div>
        <div class="directs_right">
            <div class="directs_carousel js-directs_carousel is-active" data-tab-content id="directs_tab_1">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        {{#each directions}}
                            {{#compareValues season '==' 'winter' '&&' where_from '==' 'Из Красноярска'}}
                                {{> directs_carousel_item}}
                            {{/compareValues }}
                        {{/each}}
                    </div>
                    <div class="swiper-scrollbar"></div>
                </div>
            </div>
            <div class="directs_carousel js-directs_carousel" data-tab-content id="directs_tab_2">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        {{#each directions}}
                            {{#compareValues season '==' 'winter' '&&' where_from '==' 'Из других регионов'}}
                                {{> directs_carousel_item}}
                            {{/compareValues }}
                        {{/each}}
                    </div>
                    <div class="swiper-scrollbar"></div>
                </div>
            </div>
        </div>
    </div>
</section>