<section class="direct_card_places">
    <div class="content-wrapper">
        <h2>Увидим все знаковые места Края за 5 дней</h2>
        <div class="direct_card_places__container">
            <img src="/assets/img/direct_card_places.jpg">
        </div>
        <!-- <div class="direct_card_places__wrapper">
            <div class="direct_card_places__item">
                <img src="/assets/img/direct_card_place_01.jpg" alt="Алтайский Марс">
                <p>Алтайский Марс</p>
            </div>
            <div class="direct_card_places__item">
                <img src="/assets/img/direct_card_place_02.jpg" alt="Алтайский Марс">
                <p>Чемальская ГЭС</p>
            </div>
            <div class="direct_card_places__item">
                <img src="/assets/img/direct_card_place_03.jpg" alt="Алтайский Марс">
                <p>Чуйский тракт</p>
            </div>
            <div class="direct_card_places__item">
                <img src="/assets/img/direct_card_place_04.jpg" alt="Алтайский Марс">
                <p>Гейзерное озеро</p>
            </div>
            <div class="direct_card_places__item">
                <img src="/assets/img/direct_card_place_05.jpg" alt="Алтайский Марс">
                <p>Зубья дракона</p>
            </div>
            <div class="direct_card_places__item">
                <img src="/assets/img/direct_card_place_06.jpg" alt="Алтайский Марс">
                <p>Остров патмос</p>
            </div>
            <div class="direct_card_places__item">
                <img src="/assets/img/direct_card_place_07.jpg" alt="Алтайский Марс">
                <p>Слияние рек Чуи и Катуни</p>
            </div>
            <div class="direct_card_places__item">
                <img src="/assets/img/direct_card_place_08.jpg" alt="Алтайский Марс">
                <p>Долина горных духов</p>
            </div>
            <div class="direct_card_places__item">
                <img src="/assets/img/direct_card_place_09.jpg" alt="Алтайский Марс">
                <p>Алтайский Марс</p>
            </div>
        </div> -->
    </div>
</section>