<section class="direct_bullets">
    <div class="content-wrapper">
        <h2>Почему выбирают путешествия на Алтай с TURBUS</h2>
        <div class="direct_bullets__wrap">
            <div class="direct_bullets__item">
                <div class="direct_bullets__item_icon" style="background-image: url('/assets/img/icons/ic_direct_bullet_04.svg');"></div>
                <p class="direct_bullets__item_title">Аккредитованность</p>
                <div class="direct_bullets__item_text">
                    <p>Мы – аккредитованный туроперато по внутреннему туризму, с нами гарантированно надежно и интересно. Страхуем наших путешественников в каждой поездке</p>
                </div>
            </div>
            <div class="direct_bullets__item">
                <div class="direct_bullets__item_icon" style="background-image: url('/assets/img/icons/ic_direct_bullet_05.svg');"></div>
                <p class="direct_bullets__item_title">Легкие маршруты</p>
                <div class="direct_bullets__item_text">
                    <p>Мы продумываем маршруты путешествий таким образом, чтобы к нам мог присоединиться любой человек с любой физической подготовкой</p>
                </div>
            </div>
            <div class="direct_bullets__item">
                <div class="direct_bullets__item_icon" style="background-image: url('/assets/img/icons/ic_direct_bullet_06.svg');"></div>
                <p class="direct_bullets__item_title">Посещаем топ-14 мест</p>
                <div class="direct_bullets__item_text">
                    <p>В рамках обязательной программы каждого нашего тура мы посещаем ТОП-14  знаковых локаций Горного Алтая</p>
                </div>
            </div>
            <div class="direct_bullets__item">
                <div class="direct_bullets__item_icon" style="background-image: url('/assets/img/icons/ic_direct_bullet_07.svg');"></div>
                <p class="direct_bullets__item_title">Опытные гиды</p>
                <div class="direct_bullets__item_text">
                    <p>На всем пути следования, вас будет сопровождать опытный гид, знающий все о местности и нюансах путешествия по ней</p>
                </div>
            </div>
            <div class="direct_bullets__item">
                <div class="direct_bullets__item_icon" style="background-image: url('/assets/img/icons/ic_direct_bullet_08.svg');"></div>
                <p class="direct_bullets__item_title">Комфортный автобус</p>
                <div class="direct_bullets__item_text">
                    <p>Путь до Алтая не близкий, едем 16-18 часов, поэтому мы отправляемся в путешествие на комфортабельном автобусе, следующим с остановками каждые 3 часа</p>
                </div>
            </div>
            <div class="direct_bullets__item">
                <div class="direct_bullets__item_icon" style="background-image: url('/assets/img/icons/ic_direct_bullet_09.svg');"></div>
                <p class="direct_bullets__item_title">Интересные знакомства</p>
                <div class="direct_bullets__item_text">
                    <p>Наши путешествия сближают и дарят интересные знакомства: даже если вы отправляетесь в тур в одиночку, бещаем, Вам будет комфортно!</p>
                </div>
            </div>
        </div>
    </div>
</section>