<section class="ext_links">
    <ul class="ext_links_list">
        <li class="ext_links_item ext_links_item-inst"><a href="#" target="_blank" title="Instagrm"></a></li>
        <li class="ext_links_item ext_links_item-tg"><a href="#" target="_blank" title="Telegram"></a></li>
        <li class="ext_links_item ext_links_item-vk"><a href="#" target="_blank" title="ВКонтакте"></a></li>
        <li class="ext_links_item ext_links_item-wa"><a href="#" target="_blank" title="WhatsApp"></a></li>
        <!-- <li class="ext_links_item ext_links_item-yt"><a href="#" target="_blank" title="You Tube"></a></li> -->
    </ul>
</section>