<section class="faq_block">
    <div class="content-wrapper">
        <h2>Частые вопросы</h2>
        <a href="#" class="faq_block__headlink">Посмотреть все FAQ</a>
        <div class="faq_block__list" data-accordion="faq">
            <div class="faq_block__item" data-accordion_item="faq_01">
                <div class="faq_block__title" data-accordion_title>
                    <p>На чем едем?</p>
                </div>
                <div class="faq_block__content" data-accordion_content>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe assumenda quia quisquam itaque, numquam voluptatibus placeat laborum rem obcaecati, quo inventore quam molestias eum exercitationem, nobis quis? Provident sapiente, alias repellendus veniam repellat voluptates facilis quidem itaque neque adipisci iure sint dolor, officia, suscipit quae labore sit corporis harum vel numquam et unde incidunt.</p>
                    <p>Tempora, cum? Libero rerum, nihil a reiciendis itaque enim nostrum sint sit quam, laudantium non odit fugiat dolorem rem cum iusto voluptatibus accusamus voluptas, omnis molestiae dignissimos? Qui libero porro laudantium nemo eligendi unde rerum esse corporis totam, dolorum sit minus cumque doloremque eum quibusdam architecto!</p>
                </div>
            </div>
            <div class="faq_block__item" data-accordion_item="faq_02">
                <div class="faq_block__title" data-accordion_title>
                    <p>На чем едем?</p>
                </div>
                <div class="faq_block__content" data-accordion_content>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe assumenda quia quisquam itaque, numquam voluptatibus placeat laborum rem obcaecati, quo inventore quam molestias eum exercitationem, nobis quis? Provident sapiente, alias repellendus veniam repellat voluptates facilis quidem itaque neque adipisci iure sint dolor, officia, suscipit quae labore sit corporis harum vel numquam et unde incidunt.</p>
                    <p>Tempora, cum? Libero rerum, nihil a reiciendis itaque enim nostrum sint sit quam, laudantium non odit fugiat dolorem rem cum iusto voluptatibus accusamus voluptas, omnis molestiae dignissimos? Qui libero porro laudantium nemo eligendi unde rerum esse corporis totam, dolorum sit minus cumque doloremque eum quibusdam architecto!</p>
                </div>
            </div>
            <div class="faq_block__item" data-accordion_item="faq_03">
                <div class="faq_block__title" data-accordion_title>
                    <p>На чем едем?</p>
                </div>
                <div class="faq_block__content" data-accordion_content>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe assumenda quia quisquam itaque, numquam voluptatibus placeat laborum rem obcaecati, quo inventore quam molestias eum exercitationem, nobis quis? Provident sapiente, alias repellendus veniam repellat voluptates facilis quidem itaque neque adipisci iure sint dolor, officia, suscipit quae labore sit corporis harum vel numquam et unde incidunt.</p>
                    <p>Tempora, cum? Libero rerum, nihil a reiciendis itaque enim nostrum sint sit quam, laudantium non odit fugiat dolorem rem cum iusto voluptatibus accusamus voluptas, omnis molestiae dignissimos? Qui libero porro laudantium nemo eligendi unde rerum esse corporis totam, dolorum sit minus cumque doloremque eum quibusdam architecto!</p>
                </div>
            </div>
            <div class="faq_block__item" data-accordion_item="faq_04">
                <div class="faq_block__title" data-accordion_title>
                    <p>На чем едем?</p>
                </div>
                <div class="faq_block__content" data-accordion_content>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe assumenda quia quisquam itaque, numquam voluptatibus placeat laborum rem obcaecati, quo inventore quam molestias eum exercitationem, nobis quis? Provident sapiente, alias repellendus veniam repellat voluptates facilis quidem itaque neque adipisci iure sint dolor, officia, suscipit quae labore sit corporis harum vel numquam et unde incidunt.</p>
                    <p>Tempora, cum? Libero rerum, nihil a reiciendis itaque enim nostrum sint sit quam, laudantium non odit fugiat dolorem rem cum iusto voluptatibus accusamus voluptas, omnis molestiae dignissimos? Qui libero porro laudantium nemo eligendi unde rerum esse corporis totam, dolorum sit minus cumque doloremque eum quibusdam architecto!</p>
                </div>
            </div>
            <div class="faq_block__item" data-accordion_item="faq_05">
                <div class="faq_block__title" data-accordion_title>
                    <p>На чем едем?</p>
                </div>
                <div class="faq_block__content" data-accordion_content>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe assumenda quia quisquam itaque, numquam voluptatibus placeat laborum rem obcaecati, quo inventore quam molestias eum exercitationem, nobis quis? Provident sapiente, alias repellendus veniam repellat voluptates facilis quidem itaque neque adipisci iure sint dolor, officia, suscipit quae labore sit corporis harum vel numquam et unde incidunt.</p>
                    <p>Tempora, cum? Libero rerum, nihil a reiciendis itaque enim nostrum sint sit quam, laudantium non odit fugiat dolorem rem cum iusto voluptatibus accusamus voluptas, omnis molestiae dignissimos? Qui libero porro laudantium nemo eligendi unde rerum esse corporis totam, dolorum sit minus cumque doloremque eum quibusdam architecto!</p>
                </div>
            </div>
            <div class="faq_block__item" data-accordion_item="faq_06">
                <div class="faq_block__title" data-accordion_title>
                    <p>На чем едем?</p>
                </div>
                <div class="faq_block__content" data-accordion_content>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe assumenda quia quisquam itaque, numquam voluptatibus placeat laborum rem obcaecati, quo inventore quam molestias eum exercitationem, nobis quis? Provident sapiente, alias repellendus veniam repellat voluptates facilis quidem itaque neque adipisci iure sint dolor, officia, suscipit quae labore sit corporis harum vel numquam et unde incidunt.</p>
                    <p>Tempora, cum? Libero rerum, nihil a reiciendis itaque enim nostrum sint sit quam, laudantium non odit fugiat dolorem rem cum iusto voluptatibus accusamus voluptas, omnis molestiae dignissimos? Qui libero porro laudantium nemo eligendi unde rerum esse corporis totam, dolorum sit minus cumque doloremque eum quibusdam architecto!</p>
                </div>
            </div>
            <div class="faq_block__item" data-accordion_item="faq_07">
                <div class="faq_block__title" data-accordion_title>
                    <p>На чем едем?</p>
                </div>
                <div class="faq_block__content" data-accordion_content>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe assumenda quia quisquam itaque, numquam voluptatibus placeat laborum rem obcaecati, quo inventore quam molestias eum exercitationem, nobis quis? Provident sapiente, alias repellendus veniam repellat voluptates facilis quidem itaque neque adipisci iure sint dolor, officia, suscipit quae labore sit corporis harum vel numquam et unde incidunt.</p>
                    <p>Tempora, cum? Libero rerum, nihil a reiciendis itaque enim nostrum sint sit quam, laudantium non odit fugiat dolorem rem cum iusto voluptatibus accusamus voluptas, omnis molestiae dignissimos? Qui libero porro laudantium nemo eligendi unde rerum esse corporis totam, dolorum sit minus cumque doloremque eum quibusdam architecto!</p>
                </div>
            </div>
            <div class="faq_block__item" data-accordion_item="faq_08">
                <div class="faq_block__title" data-accordion_title>
                    <p>На чем едем?</p>
                </div>
                <div class="faq_block__content" data-accordion_content>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe assumenda quia quisquam itaque, numquam voluptatibus placeat laborum rem obcaecati, quo inventore quam molestias eum exercitationem, nobis quis? Provident sapiente, alias repellendus veniam repellat voluptates facilis quidem itaque neque adipisci iure sint dolor, officia, suscipit quae labore sit corporis harum vel numquam et unde incidunt.</p>
                    <p>Tempora, cum? Libero rerum, nihil a reiciendis itaque enim nostrum sint sit quam, laudantium non odit fugiat dolorem rem cum iusto voluptatibus accusamus voluptas, omnis molestiae dignissimos? Qui libero porro laudantium nemo eligendi unde rerum esse corporis totam, dolorum sit minus cumque doloremque eum quibusdam architecto!</p>
                </div>
            </div>
            <div class="faq_block__item" data-accordion_item="faq_09">
                <div class="faq_block__title" data-accordion_title>
                    <p>На чем едем?</p>
                </div>
                <div class="faq_block__content" data-accordion_content>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe assumenda quia quisquam itaque, numquam voluptatibus placeat laborum rem obcaecati, quo inventore quam molestias eum exercitationem, nobis quis? Provident sapiente, alias repellendus veniam repellat voluptates facilis quidem itaque neque adipisci iure sint dolor, officia, suscipit quae labore sit corporis harum vel numquam et unde incidunt.</p>
                    <p>Tempora, cum? Libero rerum, nihil a reiciendis itaque enim nostrum sint sit quam, laudantium non odit fugiat dolorem rem cum iusto voluptatibus accusamus voluptas, omnis molestiae dignissimos? Qui libero porro laudantium nemo eligendi unde rerum esse corporis totam, dolorum sit minus cumque doloremque eum quibusdam architecto!</p>
                </div>
            </div>
        </div>
    </div>
</section>