<section class="gallery">
    <div class="content-wrapper">
        <p class="h2">Атмосфера путешествий С TURBUS</p>
    </div>
    <div class="gallery_wrapper">
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide gallery_slide">
                    <a href="/assets/img/galleries/img_01.jpg" data-fancybox="gallery">
                        <img src="/assets/img/galleries/img_01.jpg" alt="">
                    </a>
                </div>
                <div class="swiper-slide gallery_slide">
                    <a href="/assets/img/galleries/img_02.jpg" data-fancybox="gallery">
                        <img src="/assets/img/galleries/img_02.jpg" alt="">
                    </a>
                </div>
                <div class="swiper-slide gallery_slide">
                    <a href="/assets/img/galleries/img_03.jpg" data-fancybox="gallery">
                        <img src="/assets/img/galleries/img_03.jpg" alt="">
                    </a>
                </div>
                <div class="swiper-slide gallery_slide">
                    <a href="/assets/img/galleries/img_04.jpg" data-fancybox="gallery">
                        <img src="/assets/img/galleries/img_04.jpg" alt="">
                    </a>
                </div>
                <div class="swiper-slide gallery_slide">
                    <a href="/assets/img/galleries/img_05.jpg" data-fancybox="gallery">
                        <img src="/assets/img/galleries/img_05.jpg" alt="">
                    </a>
                </div>
                <div class="swiper-slide gallery_slide">
                    <a href="/assets/img/galleries/img_06.jpg" data-fancybox="gallery">
                        <img src="/assets/img/galleries/img_06.jpg" alt="">
                    </a>
                </div>
                <div class="swiper-slide gallery_slide">
                    <a href="/assets/img/galleries/img_07.jpg" data-fancybox="gallery">
                        <img src="/assets/img/galleries/img_07.jpg" alt="">
                    </a>
                </div>
                <div class="swiper-slide gallery_slide">
                    <a href="/assets/img/galleries/img_08.jpg" data-fancybox="gallery">
                        <img src="/assets/img/galleries/img_08.jpg" alt="">
                    </a>
                </div>
                <div class="swiper-slide gallery_slide">
                    <a href="/assets/img/galleries/img_01.jpg" data-fancybox="gallery">
                        <img src="/assets/img/galleries/img_01.jpg" alt="">
                    </a>
                </div>
                <div class="swiper-slide gallery_slide">
                    <a href="/assets/img/galleries/img_02.jpg" data-fancybox="gallery">
                        <img src="/assets/img/galleries/img_02.jpg" alt="">
                    </a>
                </div>
                <div class="swiper-slide gallery_slide">
                    <a href="/assets/img/galleries/img_03.jpg" data-fancybox="gallery">
                        <img src="/assets/img/galleries/img_03.jpg" alt="">
                    </a>
                </div>
                <div class="swiper-slide gallery_slide">
                    <a href="/assets/img/galleries/img_01.jpg" data-fancybox="gallery">
                        <img src="/assets/img/galleries/img_01.jpg" alt="">
                    </a>
                </div>
                <div class="swiper-slide gallery_slide">
                    <a href="/assets/img/galleries/img_02.jpg" data-fancybox="gallery">
                        <img src="/assets/img/galleries/img_02.jpg" alt="">
                    </a>
                </div>
                <div class="swiper-slide gallery_slide">
                    <a href="/assets/img/galleries/img_03.jpg" data-fancybox="gallery">
                        <img src="/assets/img/galleries/img_03.jpg" alt="">
                    </a>
                </div>
                <div class="swiper-slide gallery_slide">
                    <a href="/assets/img/galleries/img_04.jpg" data-fancybox="gallery">
                        <img src="/assets/img/galleries/img_04.jpg" alt="">
                    </a>
                </div>
                <div class="swiper-slide gallery_slide">
                    <a href="/assets/img/galleries/img_05.jpg" data-fancybox="gallery">
                        <img src="/assets/img/galleries/img_05.jpg" alt="">
                    </a>
                </div>
                <div class="swiper-slide gallery_slide">
                    <a href="/assets/img/galleries/img_06.jpg" data-fancybox="gallery">
                        <img src="/assets/img/galleries/img_06.jpg" alt="">
                    </a>
                </div>
                <div class="swiper-slide gallery_slide">
                    <a href="/assets/img/galleries/img_07.jpg" data-fancybox="gallery">
                        <img src="/assets/img/galleries/img_07.jpg" alt="">
                    </a>
                </div>
                <div class="swiper-slide gallery_slide">
                    <a href="/assets/img/galleries/img_08.jpg" data-fancybox="gallery">
                        <img src="/assets/img/galleries/img_08.jpg" alt="">
                    </a>
                </div>
                <div class="swiper-slide gallery_slide">
                    <a href="/assets/img/galleries/img_01.jpg" data-fancybox="gallery">
                        <img src="/assets/img/galleries/img_01.jpg" alt="">
                    </a>
                </div>
                <div class="swiper-slide gallery_slide">
                    <a href="/assets/img/galleries/img_02.jpg" data-fancybox="gallery">
                        <img src="/assets/img/galleries/img_02.jpg" alt="">
                    </a>
                </div>
                <div class="swiper-slide gallery_slide">
                    <a href="/assets/img/galleries/img_03.jpg" data-fancybox="gallery">
                        <img src="/assets/img/galleries/img_03.jpg" alt="">
                    </a>
                </div>
                <div class="swiper-slide gallery_slide">
                    <a href="/assets/img/galleries/img_04.jpg" data-fancybox="gallery">
                        <img src="/assets/img/galleries/img_04.jpg" alt="">
                    </a>
                </div>
                <div class="swiper-slide gallery_slide">
                    <a href="/assets/img/galleries/img_05.jpg" data-fancybox="gallery">
                        <img src="/assets/img/galleries/img_05.jpg" alt="">
                    </a>
                </div>
                <div class="swiper-slide gallery_slide">
                    <a href="/assets/img/galleries/img_06.jpg" data-fancybox="gallery">
                        <img src="/assets/img/galleries/img_06.jpg" alt="">
                    </a>
                </div>
                <div class="swiper-slide gallery_slide">
                    <a href="/assets/img/galleries/img_04.jpg" data-fancybox="gallery">
                        <img src="/assets/img/galleries/img_04.jpg" alt="">
                    </a>
                </div>
                <div class="swiper-slide gallery_slide">
                    <a href="/assets/img/galleries/img_05.jpg" data-fancybox="gallery">
                        <img src="/assets/img/galleries/img_05.jpg" alt="">
                    </a>
                </div>
                <div class="swiper-slide gallery_slide">
                    <a href="/assets/img/galleries/img_06.jpg" data-fancybox="gallery">
                        <img src="/assets/img/galleries/img_06.jpg" alt="">
                    </a>
                </div>
                <div class="swiper-slide gallery_slide">
                    <a href="/assets/img/galleries/img_03.jpg" data-fancybox="gallery">
                        <img src="/assets/img/galleries/img_03.jpg" alt="">
                    </a>
                </div>
                <div class="swiper-slide gallery_slide">
                    <a href="/assets/img/galleries/img_04.jpg" data-fancybox="gallery">
                        <img src="/assets/img/galleries/img_04.jpg" alt="">
                    </a>
                </div>
                <div class="swiper-slide gallery_slide">
                    <a href="/assets/img/galleries/img_05.jpg" data-fancybox="gallery">
                        <img src="/assets/img/galleries/img_05.jpg" alt="">
                    </a>
                </div>
                <div class="swiper-slide gallery_slide">
                    <a href="/assets/img/galleries/img_06.jpg" data-fancybox="gallery">
                        <img src="/assets/img/galleries/img_06.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>