<section class="hotels_block">
    <div class="content-wrapper">
        <h2>Гостиницы</h2>
        <div class="hotels_block__carousel">
            <div class="swiper">
                <div class="swiper-wrapper">
                    {{#each hotels}}
                        {{> hotels_block_carousel_item}}
                    {{/each}}
                </div>
                <div class="hotels_block__carousel_navigation_wrapper">
                    <div class="hotels_block__carousel_navigation">
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>