<section class="info_block">
    <div class="content-wrapper">
        <h2>Важная информация</h2>
        <div class="info_block__subtitle">
            <p>Данные, которые нужно учесть при бронировании тура. <br>Нюансы бронирования, размещения</p>
        </div>
        <div class="info_block__list">
            <div class="info_block__item">
                <p>Агентство ООО (ТУРБАС) не предоставляет экскурсионные услуги, не оказывает услуг по перевозке,
                    не оказывает услуг по размещению, ответственность Агентства (ТУРБАС) ограничены предоставлением
                    содействия в бронировании и оплате услуг Поставщиков.</p>
            </div>
            <div class="info_block__item">
                <p>Все дополнительные услуги оказывают посреднические организации. Исполнитель может изменить цены в
                    течение сезона.</p>
            </div>
            <div class="info_block__item">
                <p>Дата и время мероприятий определяется организатором на месте.</p>
            </div>
            <div class="info_block__item">
                <p>Экскурсионные услуги оплачиваются наличными или переводом.</p>
            </div>
            <div class="info_block__item">
                <p>Указанные мероприятия не являются обязательной программой.</p>
            </div>
            <div class="info_block__item">
                <p>Если вы едете один\одна:Размещения в номерах категории 2,3,4,5,6 — ти местные происходит в формате
                    Хостела. Формат хостела непременно подразумевает подселение. Мы всегда стараемся придерживаться
                    того принципа, что девушкам будет комфортнее жить с девушками, мужчинам — с мужчинами, парам —
                    с парами, а компании могут заселяться в одном номере все вместе. Но мы не можем давать
                    100-процентную гарантию по расселению.«Можно ли выбрать соседей по номеру?», «А можете ли подселить
                    к нам молодых/тихих/непьющих/весёлых?» — с такими вопросами мы сталкиваемся довольно часто,
                    но это тоже независимый от нас фактор. 90% наших туристов бронируют удалённо, мы не можем их видеть,
                    знать, сколько им лет, какой у них характер и предпочтения. Хостельное размещение — это популярный
                    экономный вариант туров, который допускает подселение со случайными туристами. Такими же, как и вы.
                </p>
            </div>
            <div class="info_block__item">
                <p>Агентство ООО (ТУРБАС) вправе самостоятельно, без согласования с Заказчиком осуществить поиск и выбор
                    транспортного средства, а также самостоятельно и от своего имени заключить с ним необходимый договор
                    с целью исполнения Услуги. Транспортные средства для предоставления услуг для перевозки пассажиров:
                    микроавтобусы 7–11 мест, автобусы 17–20 мест, автобусы 35–53 мест и более.</p>
            </div>
            <div class="info_block__item">
                <p>Предложенное проживание в турах является эконом классом. Отказаться от проживания во время поездки и
                    заменить на другой вид проживания не возможно. Возврат денежных средств не производиться. Если не
                    устраивают предложенные номера, гостиницы, можем предложить вам проживание высокого уровня, уточнять
                    у менеджеров при бронировании.</p>
            </div>
            <div class="info_block__item">
                <p>Время заселения и выселения устанавливаются гостиницами и базами отдыха. Расчётные часы
                    по заселению\выселению можно уточнять у менеджеров, в программе тура, у поставщика услуг.</p>
            </div>
        </div>
    </div>
</section>