<section class="mainscreen mainscreen-inner" style="background-image: url('{{screen_image}}');">
    <div class="content-wrapper">
        <div class="mainscreen_text">
            <h1 class="h1">{{screen_title}}</h1>
            <div class="mainscreen_description">
                {{{screen_description}}}
            </div>
        </div>
        <div class="mainscreen_buttons">
            <div class="btn btn__filled" data-show_backdrop data-open="modalBook">{{screen_btn_text}}</div>
        </div>
    </div>
</section>