<section class="mainscreen mainscreen-inner" style="background-image: url('../assets/img/bg/mainscreen_inner_direct_card.jpg');">
    <div class="content-wrapper">
        <div class="mainscreen_text">
            <h1 class="h1">Знакомство с Алтаем</h1>
            <div class="mainscreen_description">
                <p>Тур для тех, кто хочет познакомиться с Алтаем, но не готов изнурять себя излишней физической активностью. Насыщенная программа, не предполагающая выматывающих походов</p>
            </div>
        </div>
        <div class="mainscreen_buttons">
            <div class="btn btn__filled">Выбрать дату</div>
        </div>
    </div>
</section>