<section class="mainscreen" style="background-image: url('../assets/img/bg/mainscreen_winter.jpg');">
    <div class="content-wrapper">
        <div class="mainscreen_text">
            <h1 class="h1">Открывай новое вместе с Turbus</h1>
            <div class="mainscreen_description">
                <p>Авторские путешествия по Горному Алтаю, Дагестану и Ергаки</p>
                <p>Горнолыжные туры в Шерегеш, Архыз, Домбай, Эльбрус, <br>Ергаки, Приисковое</p>
            </div>
        </div>
        <div class="mainscreen_buttons">
            <div class="btn btn__filled">Забронировать</div>
            <div class="mainscreen_toggler mainscreen_toggler-winter">
                <div class="mainscreen_toggler_caption"><p>Зима</p></div>
                <div class="mainscreen_toggler_button"></div>
                <div class="mainscreen_toggler_caption"></div>
            </div>
        </div>
    </div>
</section>