<section class="price_table">
    <div class="content-wrapper">
        <h2>Стоимость тура</h2>
        <div class="price_table__wrapper">
            <div class="price_table__header">
                <div class="price_table__row">
                    <div class="price_table__column price_table__column-name"><p>Что входит</p></div>
                    <div class="price_table__column price_table__column-price">Цена (за одного)</div>
                    <div class="price_table__column"></div>
                </div>
            </div>
            <div class="price_table__body">
                <div class="price_table__row">
                    <div class="price_table__column price_table__column-name">
                        <p>Проезд + проживание домик ЛД</p>
                    </div>
                    <div class="price_table__column price_table__column-price"><p><span>17 500</span> рублей</p></div>
                    <div class="price_table__column"><p class="price_table__order_btn" data-mobile_text="Бронь">Забронировать</p></div>
                </div>
                <div class="price_table__row">
                    <div class="price_table__column price_table__column-name">
                        <p>Проезд + проживание домик ЛД</p>
                    </div>
                    <div class="price_table__column price_table__column-price"><p><span>17 500</span> рублей</p></div>
                    <div class="price_table__column"><p class="price_table__order_btn" data-mobile_text="Бронь">Забронировать</p></div>
                </div>
                <div class="price_table__row">
                    <div class="price_table__column price_table__column-name">
                        <p>Проезд + проживание домик ЛД</p>
                    </div>
                    <div class="price_table__column price_table__column-price"><p><span>17 500</span> рублей</p></div>
                    <div class="price_table__column"><p class="price_table__order_btn" data-mobile_text="Бронь">Забронировать</p></div>
                </div>
                <div class="price_table__row">
                    <div class="price_table__column price_table__column-name">
                        <p>Проезд + проживание домик ЛД</p>
                    </div>
                    <div class="price_table__column price_table__column-price"><p><span>17 500</span> рублей</p></div>
                    <div class="price_table__column"><p class="price_table__order_btn" data-mobile_text="Бронь">Забронировать</p></div>
                </div>
                <div class="price_table__row">
                    <div class="price_table__column price_table__column-name">
                        <p>Проезд + проживание домик ЛД</p>
                    </div>
                    <div class="price_table__column price_table__column-price"><p><span>17 500</span> рублей</p></div>
                    <div class="price_table__column"><p class="price_table__order_btn" data-mobile_text="Бронь">Забронировать</p></div>
                </div>
                <div class="price_table__row">
                    <div class="price_table__column price_table__column-name">
                        <p>Проезд + проживание домик ЛД</p>
                    </div>
                    <div class="price_table__column price_table__column-price"><p><span>17 500</span> рублей</p></div>
                    <div class="price_table__column"><p class="price_table__order_btn" data-mobile_text="Бронь">Забронировать</p></div>
                </div>
                <div class="price_table__row">
                    <div class="price_table__column price_table__column-name">
                        <p>Проезд + проживание домик ЛД</p>
                    </div>
                    <div class="price_table__column price_table__column-price"><p><span>17 500</span> рублей</p></div>
                    <div class="price_table__column"><p class="price_table__order_btn" data-mobile_text="Бронь">Забронировать</p></div>
                </div>
                <div class="price_table__row">
                    <div class="price_table__column price_table__column-name">
                        <p>Проезд + проживание домик ЛД</p>
                    </div>
                    <div class="price_table__column price_table__column-price"><p><span>17 500</span> рублей</p></div>
                    <div class="price_table__column"><p class="price_table__order_btn" data-mobile_text="Бронь">Забронировать</p></div>
                </div>
                <div class="price_table__row">
                    <div class="price_table__column price_table__column-name">
                        <p>Проезд + проживание домик ЛД</p>
                    </div>
                    <div class="price_table__column price_table__column-price"><p><span>17 500</span> рублей</p></div>
                    <div class="price_table__column"><p class="price_table__order_btn" data-mobile_text="Бронь">Забронировать</p></div>
                </div>
            </div>
        </div>
    </div>
</section>