<section class="reviews">
    <div class="content-wrapper">
        <h2>Что о нас говорят?</h2>
        <div class="reviews_carousel">
            <div class="swiper">
                <div class="swiper-wrapper">
                    {{> reviews_carousel_item}}
                    {{> reviews_carousel_item}}
                    {{> reviews_carousel_item}}
                    {{> reviews_carousel_item}}
                    {{> reviews_carousel_item}}
                    {{> reviews_carousel_item}}
                </div>
                <div class="reviews_carousel_navigation_wrapper">
                    <div class="reviews_carousel_navigation">
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>