<section class="schedule">
    <div class="content-wrapper">
        <h2>Ближайшие туры сезона</h2>
        <div class="schedule__subtitle">
            <p>Скидка на туры 10% при брони до 30 апреля! <br>Бронь бесплатна и ни к чему не обязывает.</p>
        </div>
    </div>
    <div class="content-wrapper schedule__wrapper">
        <div class="schedule__list is-active">
            <div class="swiper">
                <div class="swiper-wrapper">
                    {{> schedule_item}}
                    {{> schedule_item_2}}
                    {{> schedule_item}}
                    {{> schedule_item_2}}
                    {{> schedule_item_2}}
                </div>
                <div class="swiper-scrollbar"></div>
            </div>
        </div>
    </div>
</section>