<section class="bullets">
    <div class="content-wrapper">
        <p class="h2">2 варианта авторского тура</p>
        <div class="bullets_textblock">
            <div class="bullets_text">
                <div class="bullets_text_icon" style="background-image: url('/assets/img/icons/ic_bullets_sheild.svg')"></div>
                <div class="bullets_text_caption">Активная программа на каждый день</div>
                <p>В рамках данной программы мы посетим все знаковые  места Алтая в сопровождении опытного гида, который будет с вами на всем пути следования</p>
            </div>
            <div class="bullets_text">
                <div class="bullets_text_icon" style="background-image: url('/assets/img/icons/ic_bullets_location.svg')"></div>
                <div class="bullets_text_caption">Программа, которую вы регламентируете сами</div>
                <p>Вы можете выбирать места и экскурсии, которые  посетите  без привязки к группе. Самостоятельно планируете свое время и насыщенность программы</p>
            </div>
        </div>
    </div>
</section>