<section class="tour_program" data-tab-container>
    <div class="tour_program__nav">
        {{#each programs}}
            <div class="tour_program__nav_item {{#if is-active}}is-active{{/if}}" data-tab-target="tour_day_{{increment @index}}">{{day}}</div>
        {{/each}}
    </div>
    <div class="tour_program__content">
        {{#each programs}}
            <div class="tour_program__day {{#if is-active}}is-active{{/if}}" data-tab-content id="tour_day_{{increment @index}}">
                <div class="tour_program__day_content">
                    <div class="content-wrapper" data-tab-container>
                        {{#each events}}
                            <div class="tour_program__day_event {{#if is-active}}is-active{{/if}}" data-tab-content id="tour_day_{{increment @../index}}_event_{{increment @index}}">
                                <p class="tour_program__day_event_title">{{increment @index}}. {{title}}</p>
                                <p class="tour_program__day_event_subtitle">{{subtitle}}</p>
                                <div class="tour_program__day_event_description">
                                    {{{description}}}
                                </div>
                            </div>
                        {{/each}}
                        <div class="tour_program__day_nav">
                            {{#each events}}
                                <div class="tour_program__day_nav_item {{#if is-active}}is-active{{/if}}" data-tab-target="tour_day_{{increment @../index}}_event_{{increment @index}}">
                                    <div class="tour_program__day_nav_icon">{{increment @index}}</div>
                                    <p>{{nav_title}}</p>
                                </div>
                            {{/each}}
                            <div class="tour_program__day_nav_item tour_program__day_nav_item-last">
                                <div class="tour_program__day_nav_icon"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tour_program__day_images">
                    <div class="tour_program__day_image is-active">
                        <img src="/assets/img/tour_program_image.jpg" alt="Прибытие на базу отдыха (район Горно-Алтайска)">
                    </div>
                    <div class="tour_program__day_image">
                        <img src="/assets/img/tour_program_image.jpg" alt="Прибытие на базу отдыха (район Горно-Алтайска)">
                    </div>
                    <div class="tour_program__day_image">
                        <img src="/assets/img/tour_program_image.jpg" alt="Прибытие на базу отдыха (район Горно-Алтайска)">
                    </div>
                    <div class="tour_program__day_image">
                        <img src="/assets/img/tour_program_image.jpg" alt="Прибытие на базу отдыха (район Горно-Алтайска)">
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</section>