<section class="tour_path">
    <div class="content-wrapper">
        <h2>Знакомься с Алтаем с нами</h2>
        <div class="tour_path__subtitle">
            <p>Горный воздух с привкусом хвои и удивительные пейзажи края обязательно вскружат тебе голову!</p>
        </div>
    </div>
    <div class="tour_path__container">
        <div class="content-wrapper">
            <div class="tour_path__map">
                <div class="tour_path__map_wrap">
                    <img src="/assets/img/paths/path_01.svg">
                    <div class="tour_path__map_point tour_path__map_point-left is-active" style="top: 12.4%; left: 33.6%;" data-tab_target="place_tab_1" data-title="Чуйский тракт"></div>
                    <div class="tour_path__map_point tour_path__map_point-right" style="top: 34%; left: 36%;" data-tab_target="place_tab_2" data-title="Скалы Зубы дракона"></div>
                    <div class="tour_path__map_point tour_path__map_point-left" style="top: 39.7%; left: 34.7%;" data-tab_target="place_tab_3" data-title="Остров Патмос"></div>
                    <div class="tour_path__map_point tour_path__map_point-right" style="top: 40.2%; left: 36.9%;" data-tab_target="place_tab_4" data-title="Чемальская ГЭС"></div>
                    <div class="tour_path__map_point tour_path__map_point-right" style="top: 45.3%; left: 38.2%;" data-tab_target="place_tab_5" data-title="Долина горных духов"></div>
                    <div class="tour_path__map_point tour_path__map_point-left" style="top: 52.1%; left: 28.1%;" data-tab_target="place_tab_6" data-title="Семинский перевал"></div>
                    <div class="tour_path__map_point tour_path__map_point-right" style="top: 78.4%; left: 49.2%;" data-tab_target="place_tab_7" data-title="Слияние Чуи и Катуни"></div>
                    <div class="tour_path__map_point tour_path__map_point-right" style="top: 83.5%; left: 68.7%;" data-tab_target="place_tab_8" data-title="Озеро гейзерное"></div>
                    <div class="tour_path__map_point tour_path__map_point-right" style="top: 90.1%; left: 82%;" data-tab_target="place_tab_9" data-title="Марсианские горы"></div>
                </div>
            </div>
            <div class="tour_path__info">
                <div class="tour_path__place is-active" data-tab_item id="place_tab_1">
                    <p class="tour_path__place_title">Чуйский тракт</p>
                    <div class="tour_path__place_description">
                        <p>«Марсианские горы» — это природный объект, расположенный в Горном Алтае, который привлекает туристов своими яркими красками и необычными формами. Посетители отмечают, что горы напоминают иллюстрации из книг о Марсе, а их названия — «Марс-1», «Марс-2» и «Марс-3» — только усиливают это впечатление.</p>
                    </div>
                    <div class="tour_path__place_gallery js-tour_path_gallery">
                        <div class="swiper-button-prev"></div>
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="/assets/img/galleries/tour_path_gallery_01.jpg" data-fancybox="gallery_1">
                                        <img src="/assets/img/galleries/tour_path_gallery_preview_01.jpg" alt="Марсианские горы">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="/assets/img/galleries/tour_path_gallery_01.jpg" data-fancybox="gallery_1">
                                        <img src="/assets/img/galleries/tour_path_gallery_preview_01.jpg" alt="Марсианские горы">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="/assets/img/galleries/tour_path_gallery_01.jpg" data-fancybox="gallery_1">
                                        <img src="/assets/img/galleries/tour_path_gallery_preview_01.jpg" alt="Марсианские горы">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="/assets/img/galleries/tour_path_gallery_01.jpg" data-fancybox="gallery_1">
                                        <img src="/assets/img/galleries/tour_path_gallery_preview_01.jpg" alt="Марсианские горы">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="/assets/img/galleries/tour_path_gallery_01.jpg" data-fancybox="gallery_1">
                                        <img src="/assets/img/galleries/tour_path_gallery_preview_01.jpg" alt="Марсианские горы">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="/assets/img/galleries/tour_path_gallery_01.jpg" data-fancybox="gallery_1">
                                        <img src="/assets/img/galleries/tour_path_gallery_preview_01.jpg" alt="Марсианские горы">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-button-next"></div>
                    </div>
                    <div class="tour_path__place_button">
                        <div class="btn btn__framed">Узнать программу</div>
                    </div>
                </div>
                <div class="tour_path__place" data-tab_item id="place_tab_2">
                    <p class="tour_path__place_title">Скалы Зубы дракона</p>
                    <div class="tour_path__place_description">
                        <p>«Марсианские горы» — это природный объект, расположенный в Горном Алтае, который привлекает туристов своими яркими красками и необычными формами. Посетители отмечают, что горы напоминают иллюстрации из книг о Марсе, а их названия — «Марс-1», «Марс-2» и «Марс-3» — только усиливают это впечатление.</p>
                    </div>
                    <div class="tour_path__place_gallery js-tour_path_gallery">
                        <div class="swiper-button-prev"></div>
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="/assets/img/galleries/tour_path_gallery_01.jpg" data-fancybox="gallery_1">
                                        <img src="/assets/img/galleries/tour_path_gallery_preview_01.jpg" alt="Марсианские горы">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="/assets/img/galleries/tour_path_gallery_01.jpg" data-fancybox="gallery_1">
                                        <img src="/assets/img/galleries/tour_path_gallery_preview_01.jpg" alt="Марсианские горы">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="/assets/img/galleries/tour_path_gallery_01.jpg" data-fancybox="gallery_1">
                                        <img src="/assets/img/galleries/tour_path_gallery_preview_01.jpg" alt="Марсианские горы">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="/assets/img/galleries/tour_path_gallery_01.jpg" data-fancybox="gallery_1">
                                        <img src="/assets/img/galleries/tour_path_gallery_preview_01.jpg" alt="Марсианские горы">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="/assets/img/galleries/tour_path_gallery_01.jpg" data-fancybox="gallery_1">
                                        <img src="/assets/img/galleries/tour_path_gallery_preview_01.jpg" alt="Марсианские горы">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="/assets/img/galleries/tour_path_gallery_01.jpg" data-fancybox="gallery_1">
                                        <img src="/assets/img/galleries/tour_path_gallery_preview_01.jpg" alt="Марсианские горы">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-button-next"></div>
                    </div>
                    <div class="tour_path__place_button">
                        <div class="btn btn__framed">Узнать программу</div>
                    </div>
                </div>
                <div class="tour_path__place" data-tab_item id="place_tab_3">
                    <p class="tour_path__place_title">Остров Патмос</p>
                    <div class="tour_path__place_description">
                        <p>«Марсианские горы» — это природный объект, расположенный в Горном Алтае, который привлекает туристов своими яркими красками и необычными формами. Посетители отмечают, что горы напоминают иллюстрации из книг о Марсе, а их названия — «Марс-1», «Марс-2» и «Марс-3» — только усиливают это впечатление.</p>
                    </div>
                    <div class="tour_path__place_gallery js-tour_path_gallery">
                        <div class="swiper-button-prev"></div>
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="/assets/img/galleries/tour_path_gallery_01.jpg" data-fancybox="gallery_1">
                                        <img src="/assets/img/galleries/tour_path_gallery_preview_01.jpg" alt="Марсианские горы">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="/assets/img/galleries/tour_path_gallery_01.jpg" data-fancybox="gallery_1">
                                        <img src="/assets/img/galleries/tour_path_gallery_preview_01.jpg" alt="Марсианские горы">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="/assets/img/galleries/tour_path_gallery_01.jpg" data-fancybox="gallery_1">
                                        <img src="/assets/img/galleries/tour_path_gallery_preview_01.jpg" alt="Марсианские горы">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="/assets/img/galleries/tour_path_gallery_01.jpg" data-fancybox="gallery_1">
                                        <img src="/assets/img/galleries/tour_path_gallery_preview_01.jpg" alt="Марсианские горы">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="/assets/img/galleries/tour_path_gallery_01.jpg" data-fancybox="gallery_1">
                                        <img src="/assets/img/galleries/tour_path_gallery_preview_01.jpg" alt="Марсианские горы">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="/assets/img/galleries/tour_path_gallery_01.jpg" data-fancybox="gallery_1">
                                        <img src="/assets/img/galleries/tour_path_gallery_preview_01.jpg" alt="Марсианские горы">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-button-next"></div>
                    </div>
                    <div class="tour_path__place_button">
                        <div class="btn btn__framed">Узнать программу</div>
                    </div>
                </div>
                <div class="tour_path__place" data-tab_item id="place_tab_4">
                    <p class="tour_path__place_title">Чемальская ГЭС</p>
                    <div class="tour_path__place_description">
                        <p>«Марсианские горы» — это природный объект, расположенный в Горном Алтае, который привлекает туристов своими яркими красками и необычными формами. Посетители отмечают, что горы напоминают иллюстрации из книг о Марсе, а их названия — «Марс-1», «Марс-2» и «Марс-3» — только усиливают это впечатление.</p>
                    </div>
                    <div class="tour_path__place_gallery js-tour_path_gallery">
                        <div class="swiper-button-prev"></div>
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="/assets/img/galleries/tour_path_gallery_01.jpg" data-fancybox="gallery_1">
                                        <img src="/assets/img/galleries/tour_path_gallery_preview_01.jpg" alt="Марсианские горы">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="/assets/img/galleries/tour_path_gallery_01.jpg" data-fancybox="gallery_1">
                                        <img src="/assets/img/galleries/tour_path_gallery_preview_01.jpg" alt="Марсианские горы">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="/assets/img/galleries/tour_path_gallery_01.jpg" data-fancybox="gallery_1">
                                        <img src="/assets/img/galleries/tour_path_gallery_preview_01.jpg" alt="Марсианские горы">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="/assets/img/galleries/tour_path_gallery_01.jpg" data-fancybox="gallery_1">
                                        <img src="/assets/img/galleries/tour_path_gallery_preview_01.jpg" alt="Марсианские горы">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="/assets/img/galleries/tour_path_gallery_01.jpg" data-fancybox="gallery_1">
                                        <img src="/assets/img/galleries/tour_path_gallery_preview_01.jpg" alt="Марсианские горы">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="/assets/img/galleries/tour_path_gallery_01.jpg" data-fancybox="gallery_1">
                                        <img src="/assets/img/galleries/tour_path_gallery_preview_01.jpg" alt="Марсианские горы">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-button-next"></div>
                    </div>
                    <div class="tour_path__place_button">
                        <div class="btn btn__framed">Узнать программу</div>
                    </div>
                </div>
                <div class="tour_path__place" data-tab_item id="place_tab_5">
                    <p class="tour_path__place_title">Долина горных духов</p>
                    <div class="tour_path__place_description">
                        <p>«Марсианские горы» — это природный объект, расположенный в Горном Алтае, который привлекает туристов своими яркими красками и необычными формами. Посетители отмечают, что горы напоминают иллюстрации из книг о Марсе, а их названия — «Марс-1», «Марс-2» и «Марс-3» — только усиливают это впечатление.</p>
                    </div>
                    <div class="tour_path__place_gallery js-tour_path_gallery">
                        <div class="swiper-button-prev"></div>
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="/assets/img/galleries/tour_path_gallery_01.jpg" data-fancybox="gallery_1">
                                        <img src="/assets/img/galleries/tour_path_gallery_preview_01.jpg" alt="Марсианские горы">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="/assets/img/galleries/tour_path_gallery_01.jpg" data-fancybox="gallery_1">
                                        <img src="/assets/img/galleries/tour_path_gallery_preview_01.jpg" alt="Марсианские горы">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="/assets/img/galleries/tour_path_gallery_01.jpg" data-fancybox="gallery_1">
                                        <img src="/assets/img/galleries/tour_path_gallery_preview_01.jpg" alt="Марсианские горы">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="/assets/img/galleries/tour_path_gallery_01.jpg" data-fancybox="gallery_1">
                                        <img src="/assets/img/galleries/tour_path_gallery_preview_01.jpg" alt="Марсианские горы">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="/assets/img/galleries/tour_path_gallery_01.jpg" data-fancybox="gallery_1">
                                        <img src="/assets/img/galleries/tour_path_gallery_preview_01.jpg" alt="Марсианские горы">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="/assets/img/galleries/tour_path_gallery_01.jpg" data-fancybox="gallery_1">
                                        <img src="/assets/img/galleries/tour_path_gallery_preview_01.jpg" alt="Марсианские горы">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-button-next"></div>
                    </div>
                    <div class="tour_path__place_button">
                        <div class="btn btn__framed">Узнать программу</div>
                    </div>
                </div>
                <div class="tour_path__place" data-tab_item id="place_tab_6">
                    <p class="tour_path__place_title">Семинский перевал</p>
                    <div class="tour_path__place_description">
                        <p>«Марсианские горы» — это природный объект, расположенный в Горном Алтае, который привлекает туристов своими яркими красками и необычными формами. Посетители отмечают, что горы напоминают иллюстрации из книг о Марсе, а их названия — «Марс-1», «Марс-2» и «Марс-3» — только усиливают это впечатление.</p>
                    </div>
                    <div class="tour_path__place_gallery js-tour_path_gallery">
                        <div class="swiper-button-prev"></div>
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="/assets/img/galleries/tour_path_gallery_01.jpg" data-fancybox="gallery_1">
                                        <img src="/assets/img/galleries/tour_path_gallery_preview_01.jpg" alt="Марсианские горы">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="/assets/img/galleries/tour_path_gallery_01.jpg" data-fancybox="gallery_1">
                                        <img src="/assets/img/galleries/tour_path_gallery_preview_01.jpg" alt="Марсианские горы">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="/assets/img/galleries/tour_path_gallery_01.jpg" data-fancybox="gallery_1">
                                        <img src="/assets/img/galleries/tour_path_gallery_preview_01.jpg" alt="Марсианские горы">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="/assets/img/galleries/tour_path_gallery_01.jpg" data-fancybox="gallery_1">
                                        <img src="/assets/img/galleries/tour_path_gallery_preview_01.jpg" alt="Марсианские горы">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="/assets/img/galleries/tour_path_gallery_01.jpg" data-fancybox="gallery_1">
                                        <img src="/assets/img/galleries/tour_path_gallery_preview_01.jpg" alt="Марсианские горы">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="/assets/img/galleries/tour_path_gallery_01.jpg" data-fancybox="gallery_1">
                                        <img src="/assets/img/galleries/tour_path_gallery_preview_01.jpg" alt="Марсианские горы">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-button-next"></div>
                    </div>
                    <div class="tour_path__place_button">
                        <div class="btn btn__framed">Узнать программу</div>
                    </div>
                </div>
                <div class="tour_path__place" data-tab_item id="place_tab_7">
                    <p class="tour_path__place_title">Слияние Чуи и Катуни</p>
                    <div class="tour_path__place_description">
                        <p>«Марсианские горы» — это природный объект, расположенный в Горном Алтае, который привлекает туристов своими яркими красками и необычными формами. Посетители отмечают, что горы напоминают иллюстрации из книг о Марсе, а их названия — «Марс-1», «Марс-2» и «Марс-3» — только усиливают это впечатление.</p>
                    </div>
                    <div class="tour_path__place_gallery js-tour_path_gallery">
                        <div class="swiper-button-prev"></div>
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="/assets/img/galleries/tour_path_gallery_01.jpg" data-fancybox="gallery_1">
                                        <img src="/assets/img/galleries/tour_path_gallery_preview_01.jpg" alt="Марсианские горы">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="/assets/img/galleries/tour_path_gallery_01.jpg" data-fancybox="gallery_1">
                                        <img src="/assets/img/galleries/tour_path_gallery_preview_01.jpg" alt="Марсианские горы">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="/assets/img/galleries/tour_path_gallery_01.jpg" data-fancybox="gallery_1">
                                        <img src="/assets/img/galleries/tour_path_gallery_preview_01.jpg" alt="Марсианские горы">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="/assets/img/galleries/tour_path_gallery_01.jpg" data-fancybox="gallery_1">
                                        <img src="/assets/img/galleries/tour_path_gallery_preview_01.jpg" alt="Марсианские горы">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="/assets/img/galleries/tour_path_gallery_01.jpg" data-fancybox="gallery_1">
                                        <img src="/assets/img/galleries/tour_path_gallery_preview_01.jpg" alt="Марсианские горы">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="/assets/img/galleries/tour_path_gallery_01.jpg" data-fancybox="gallery_1">
                                        <img src="/assets/img/galleries/tour_path_gallery_preview_01.jpg" alt="Марсианские горы">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-button-next"></div>
                    </div>
                    <div class="tour_path__place_button">
                        <div class="btn btn__framed">Узнать программу</div>
                    </div>
                </div>
                <div class="tour_path__place" data-tab_item id="place_tab_8">
                    <p class="tour_path__place_title">Озеро гейзерное</p>
                    <div class="tour_path__place_description">
                        <p>«Марсианские горы» — это природный объект, расположенный в Горном Алтае, который привлекает туристов своими яркими красками и необычными формами. Посетители отмечают, что горы напоминают иллюстрации из книг о Марсе, а их названия — «Марс-1», «Марс-2» и «Марс-3» — только усиливают это впечатление.</p>
                    </div>
                    <div class="tour_path__place_gallery js-tour_path_gallery">
                        <div class="swiper-button-prev"></div>
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="/assets/img/galleries/tour_path_gallery_01.jpg" data-fancybox="gallery_1">
                                        <img src="/assets/img/galleries/tour_path_gallery_preview_01.jpg" alt="Марсианские горы">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="/assets/img/galleries/tour_path_gallery_01.jpg" data-fancybox="gallery_1">
                                        <img src="/assets/img/galleries/tour_path_gallery_preview_01.jpg" alt="Марсианские горы">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="/assets/img/galleries/tour_path_gallery_01.jpg" data-fancybox="gallery_1">
                                        <img src="/assets/img/galleries/tour_path_gallery_preview_01.jpg" alt="Марсианские горы">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="/assets/img/galleries/tour_path_gallery_01.jpg" data-fancybox="gallery_1">
                                        <img src="/assets/img/galleries/tour_path_gallery_preview_01.jpg" alt="Марсианские горы">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="/assets/img/galleries/tour_path_gallery_01.jpg" data-fancybox="gallery_1">
                                        <img src="/assets/img/galleries/tour_path_gallery_preview_01.jpg" alt="Марсианские горы">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="/assets/img/galleries/tour_path_gallery_01.jpg" data-fancybox="gallery_1">
                                        <img src="/assets/img/galleries/tour_path_gallery_preview_01.jpg" alt="Марсианские горы">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-button-next"></div>
                    </div>
                    <div class="tour_path__place_button">
                        <div class="btn btn__framed">Узнать программу</div>
                    </div>
                </div>
                <div class="tour_path__place" data-tab_item id="place_tab_9">
                    <p class="tour_path__place_title">Марсианские горы</p>
                    <div class="tour_path__place_description">
                        <p>«Марсианские горы» — это природный объект, расположенный в Горном Алтае, который привлекает туристов своими яркими красками и необычными формами. Посетители отмечают, что горы напоминают иллюстрации из книг о Марсе, а их названия — «Марс-1», «Марс-2» и «Марс-3» — только усиливают это впечатление.</p>
                    </div>
                    <div class="tour_path__place_gallery js-tour_path_gallery">
                        <div class="swiper-button-prev"></div>
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="/assets/img/galleries/tour_path_gallery_01.jpg" data-fancybox="gallery_1">
                                        <img src="/assets/img/galleries/tour_path_gallery_preview_01.jpg" alt="Марсианские горы">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="/assets/img/galleries/tour_path_gallery_01.jpg" data-fancybox="gallery_1">
                                        <img src="/assets/img/galleries/tour_path_gallery_preview_01.jpg" alt="Марсианские горы">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="/assets/img/galleries/tour_path_gallery_01.jpg" data-fancybox="gallery_1">
                                        <img src="/assets/img/galleries/tour_path_gallery_preview_01.jpg" alt="Марсианские горы">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="/assets/img/galleries/tour_path_gallery_01.jpg" data-fancybox="gallery_1">
                                        <img src="/assets/img/galleries/tour_path_gallery_preview_01.jpg" alt="Марсианские горы">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="/assets/img/galleries/tour_path_gallery_01.jpg" data-fancybox="gallery_1">
                                        <img src="/assets/img/galleries/tour_path_gallery_preview_01.jpg" alt="Марсианские горы">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="/assets/img/galleries/tour_path_gallery_01.jpg" data-fancybox="gallery_1">
                                        <img src="/assets/img/galleries/tour_path_gallery_preview_01.jpg" alt="Марсианские горы">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-button-next"></div>
                    </div>
                    <div class="tour_path__place_button">
                        <div class="btn btn__framed">Узнать программу</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>