<section class="feedback_buttons">
    <div class="content-wrapper">
        <h2>Если у вас есть вопросы, <br>мы готовы на них ответить</h2>
        <div class="feedback_buttons_wrap">
            <div class="btn btn__filled">Позвонить</div>
            <div class="btn btn__filled btn__gray">Написать нам</div>
            <div class="btn btn__filled btn__gray">Важно знать</div>
        </div>
        <div class="feedback_buttons_wrap">
            <div class="feedback_buttons_text">
                <p>ВАЖНО! Время выезда, отъезда, время в пути может быть изменено, в зависимости от форс-мажорных обстоятельств.</p>
            </div>
            <div class="feedback_buttons_text">
                <p>(Погодные условия, опоздание туристов, неполадки с транспортом и т.д.), и если вам с утра на работу, нужно учитывать данные факторы.</p>
            </div>
            <div class="feedback_buttons_text">
                <p>* День и время мероприятий определяет гид. <br>* Указанные экскурсии не являются обязательной программой.</p>
            </div>
        </div>
    </div>
</section>