<section class="tourscreen">
    <div class="tourscreen__content">
        <div class="content-wrapper">
            <div class="tourscreen__general">
                <div class="tourscreen__general_block">
                    <p class="tourscreen__general_name">5 дней / 5 ночей</p>
                    <p class="tourscreen__general_value">Без рюкзаков</p>
                </div>
                <div class="tourscreen__general_block">
                    <p class="tourscreen__general_name">Дата тура</p>
                    <p class="tourscreen__general_value">06.07-12.07</p>
                </div>
            </div>
            <div class="tourscreen__description">
                <p>Горный Алтай — Волшебный край, где природа предстаёт перед зрителем в своём первозданном великолепии, это — удивительная земля, одно из тех мест России, которые обязательно нужно посетить хотя бы раз в жизни. <br>Мы создаём Путешествия по этому дивному краю таким образом, чтобы они были насыщенны, информативны и, в то же время, наполняли вдохновением, зарядом бодрости и душевным дружеским общением.</p>
                <p>Чтобы насладиться Горным Алтаем, тебе не нужно обладать особыми физическими навыками или специальной подготовкой, нужно просто любить активный образ жизни и быть готовым к движению, впечатлениям и каждодневным приключениям.</p>
            </div>
            <div class="tourscreen__buttons">
                <div class="btn btn__filled" data-show_backdrop data-open="modalBook">Забронировать</div>
            </div>
        </div>
    </div>
    <div class="tourscreen__image" style="background-image: url('/assets/img/bg/tourscreen.jpg')"></div>
</section>