<section class="trust">
    <div class="content-wrapper">
        <h2>С TURBUS безопасно и надежно</h2>
        <div class="trust_wrap">
            <div class="trust_item">
                <div class="trust_item_icon" style="background-image: url('/assets/img/icons/ic_pay_contract.svg');"></div>
                <p class="trust_item_title">Оплата по договору</p>
                <div class="trust_item_text">
                    <p>Подпишем договор, возьмем за бронирование 3000 руб. <br>Полная оплата за 20 дней до выезда. Не нужно платить все сразу.</p>
                </div>
            </div>
            <div class="trust_item">
                <div class="trust_item_icon" style="background-image: url('/assets/img/icons/ic_insurance.svg');"></div>
                <p class="trust_item_title">Обязательая страховка</p>
                <div class="trust_item_text">
                    <p>Это ваша защита от непредвиденных расходов в поездке. <br>Страхуем путешественников от несчастного случая в компании Альфа страхование</p>
                </div>
            </div>
            <div class="trust_item">
                <div class="trust_item_icon" style="background-image: url('/assets/img/icons/ic_guides.svg');"></div>
                <p class="trust_item_title">Проверенные подрядчики и гиды</p>
                <div class="trust_item_text">
                    <p>С большинством работаем не первый год. <br>Мы – аккредитованный туроператор по внутреннему туризму, а значит, с нами гарантированно надежно</p>
                </div>
            </div>
            <div class="trust_item">
                <div class="trust_item_icon" style="background-image: url('/assets/img/icons/ic_autopark.svg');"></div>
                <p class="trust_item_title">Собственный автопарк</p>
                <div class="trust_item_text">
                    <p>У нас есть 2 комфортных автобуса, чтобы было удобно добираться до места назначения</p>
                </div>
            </div>
        </div>
    </div>
</section>